openapi: 3.1.0
info:
  title: Wholescripts supplement fulfilment API (Mockingbird subset)
  description: |
    Stateful mock subset of the Wholescripts ordering API: the product and private-label
    (MedPax) catalogs, order submit, status polling and cancel. Hand-authored from the
    consumers' zod schemas and clients (the vendor publishes no spec).
  version: "1"
  x-mockingbird-upstream:
    note: >-
      Hand-authored from the wire shapes our consumers read and write
      (backend and EMR wholescripts.types.ts zod schemas, the Makor wholescripts client,
      adapter and mappers).
servers:
  - url: https://api.wholescripts.com
security:
  - basicAuth: []
paths:
  /api/Orders/PrivateLabelProductList:
    get:
      operationId: GetPrivateLabelProductList
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Private-label (MedPax) catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateLabelProductList"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/Orders/ProductList:
    get:
      operationId: GetProductList
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
        - name: instockonly
          in: query
          required: false
          description: "`true` keeps only rows with quantity > 0 (the EMR sends it)."
          schema:
            type: string
            enum: ["true", "false"]
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: search
          in: query
          required: false
          description: Case-insensitive match on name, SKU, MedPax SKU, brand or categories (Makor).
          schema:
            type: string
            maxLength: 40
      responses:
        "200":
          description: Products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Product"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/Orders/Submit:
    post:
      operationId: SubmitOrder
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderSubmitRequest"
      responses:
        "200":
          description: >-
            Submit outcome. A rejected order (bad body, unknown SKU, payment failure) is still
            200, with success false and the reason in msg.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderSubmitResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/Orders/Status:
    get:
      operationId: GetOrderStatus
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
        - name: ordernum
          in: query
          required: true
          schema:
            type: string
            x-mockingbird-resource-ref:
              type: order
              missing: "000000"
      responses:
        "200":
          description: The order's status rows (empty for an unknown order number)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrderStatus"
        "400":
          description: Missing ordernum
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AspNetError"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/Orders/Cancel:
    post:
      operationId: CancelOrder
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [OrderNumber]
              properties:
                OrderNumber:
                  type: string
                  x-mockingbird-resource-ref:
                    type: order
                    missing: "000000"
      responses:
        "200":
          description: Cancel outcome; success false when the order has progressed too far
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelResponse"
        "400":
          description: Missing OrderNumber
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Unknown order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelResponse"
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  responses:
    Unauthorized:
      description: Missing or wrong Basic credentials
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AspNetError"
  schemas:
    AspNetError:
      type: object
      required: [Message]
      properties:
        Message:
          type: string
    DefaultDosing:
      type: object
      required: [time, qty]
      properties:
        time:
          type: string
        qty:
          type: number
    MedPaxDetails:
      type: object
      required: [name, genericName, quantity, wholesalePrice, retailPrice]
      properties:
        name:
          type: string
        genericName:
          type: string
        quantity:
          type: number
        wholesalePrice:
          type: number
        retailPrice:
          type: number
    Product:
      type: object
      required:
        - productName
        - sku
        - medPaxSku
        - categories
        - retailPrice
        - upc
        - descriptionShort
        - brand
        - productImage
        - quantity
        - countUnit
        - wholesalePrice
        - supplementFactsHTML
        - defaultDosing
      properties:
        productName:
          type: string
        sku:
          type: string
          x-mockingbird-resource:
            type: sku
            identity: true
        medPaxSku:
          type: string
        categories:
          type: string
        retailPrice:
          type: number
        upc:
          type: string
        descriptionShort:
          type: string
        descriptionFull:
          type: string
        brand:
          type: string
        productImage:
          type: string
        quantity:
          type: number
        countUnit:
          type: string
        wholesalePrice:
          type: number
        supplementFactsHTML:
          type: string
        defaultDosing:
          type: array
          items:
            $ref: "#/components/schemas/DefaultDosing"
        medPaxDetails:
          oneOf:
            - $ref: "#/components/schemas/MedPaxDetails"
            - type: "null"
    PrivateLabelProductList:
      type: object
      required: [privateLabelProducts, medPaxPills, privateLabelCartons]
      properties:
        privateLabelProducts:
          type: array
          items: {}
        medPaxPills:
          type: array
          items:
            type: object
            required: [sku, genericName, privateLabelName, quantity]
            properties:
              sku:
                type: string
                x-mockingbird-resource:
                  type: sku
                  identity: true
              genericName:
                type: string
              privateLabelName:
                type: string
              quantity:
                type: number
        privateLabelCartons:
          type: array
          items:
            type: object
            required: [sku, name, cartonImage, quantity]
            properties:
              sku:
                type: string
                x-mockingbird-resource:
                  type: sku
                  identity: true
              name:
                type: string
              cartonImage:
                type: string
              quantity:
                type: number
    MedPaxPill:
      type: object
      required: [Sku, Quantity, ItemTime]
      properties:
        productId:
          type: string
          maxLength: 64
        Sku:
          type: string
          x-mockingbird-resource-ref:
            type: sku
            missing: "000000000000000000"
        Quantity:
          type: integer
          minimum: 1
          maximum: 1000
        ItemTime:
          type: string
          enum: ["AM", "PM", "AM with food", "PM with food"]
    OrderItem:
      type: object
      required: [Sku, Quantity]
      properties:
        Sku:
          type: string
          x-mockingbird-resource-ref:
            type: sku
            missing: "000000000000000000"
        Quantity:
          type: integer
          minimum: 1
          maximum: 1000
        MedPaxName:
          type: ["string", "null"]
          maxLength: 60
        MedPaxPills:
          type: ["array", "null"]
          maxItems: 4
          items:
            $ref: "#/components/schemas/MedPaxPill"
    OrderSubmitRequest:
      type: object
      required: [ShippingAddress, Items, ShippingMethod]
      properties:
        ShippingAddress:
          type: object
          required: [FName, LName, Address1, City, State, Zip]
          properties:
            FName:
              type: string
              minLength: 1
              maxLength: 40
            LName:
              type: string
              minLength: 1
              maxLength: 40
            Address1:
              type: string
              minLength: 1
              maxLength: 80
            Address2:
              type: ["string", "null"]
              maxLength: 80
            City:
              type: string
              minLength: 1
              maxLength: 40
            State:
              type: string
              pattern: "^[A-Z]{2}$"
            Zip:
              type: string
              pattern: "^[0-9]{5}(-[0-9]{4})?$"
            Email:
              type: string
              format: email
              maxLength: 120
        Notes:
          type: ["string", "null"]
          maxLength: 500
        Items:
          type: array
          minItems: 1
          maxItems: 4
          items:
            $ref: "#/components/schemas/OrderItem"
        ShippingMethod:
          type: string
          minLength: 1
          maxLength: 40
    OrderSubmitResponse:
      type: object
      required: [orderNumber, success, msg]
      properties:
        orderNumber:
          type: string
          x-mockingbird-resource:
            type: order
            identity: true
        success:
          type: boolean
        msg:
          type: string
    Tracking:
      type: object
      required: [trackingNumber, carrier]
      properties:
        trackingNumber:
          type: string
        carrier:
          type: string
        trackingUrl:
          type: string
    OrderStatus:
      type: object
      required:
        - orderNumber
        - orderDate
        - salesOrder
        - status
        - tracking
        - message
        - subTotal
        - shipMethod
        - shipCharge
        - discount
        - tax
        - serviceFee
        - orderTotal
      properties:
        orderNumber:
          type: string
        orderDate:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
        salesOrder:
          type: string
        status:
          type: string
        tracking:
          type: array
          items:
            $ref: "#/components/schemas/Tracking"
        message:
          type: string
        subTotal:
          type: number
        shipMethod:
          type: string
        shipCharge:
          type: number
        discount:
          type: number
        tax:
          type: number
        serviceFee:
          type: number
        orderTotal:
          type: number
    CancelResponse:
      type: object
      required: [success, msg]
      properties:
        success:
          type: boolean
        msg:
          type: string
