openapi: 3.1.0
info:
  title: Junction API (Mockingbird subset)
  description: |
    Stateful mock subset of the Junction (Vital) API.
    Docs: https://docs.junction.com/
    Auth: https://docs.junction.com/api-details/junction-api
    Create user: https://docs.junction.com/api-reference/user/create-user
    Get user: https://docs.junction.com/api-reference/user/get-user
    Delete user: https://docs.junction.com/api-reference/user/delete-user
    Resolve user: https://docs.junction.com/api-reference/user/resolve-user
    Update user: https://docs.junction.com/api-reference/user/patch-user
    Get users: https://docs.junction.com/api-reference/user/get-users
    Create order: https://docs.junction.com/api-reference/lab-testing/create-order
    Get order: https://docs.junction.com/api-reference/lab-testing/get-order
    Get orders: https://docs.junction.com/api-reference/lab-testing/get-orders
    Get order transaction: https://docs.junction.com/api-reference/lab-testing/order-transactions/get-order-transaction
    Get order transaction result: https://docs.junction.com/api-reference/lab-testing/results/get-order-transaction-results
    Lab tests: https://docs.junction.com/api-reference/lab-testing/tests-paginated
    Appointment availability: https://docs.junction.com/api-reference/lab-testing/appointments/get-appointment-availability
    Book appointment: https://docs.junction.com/api-reference/lab-testing/appointments/book-appointment
    Get appointment: https://docs.junction.com/api-reference/lab-testing/appointments/get-appointment
    Reschedule appointment: https://docs.junction.com/api-reference/lab-testing/appointments/reschedule-appointment
    Cancel appointment: https://docs.junction.com/api-reference/lab-testing/appointments/cancel-appointment
    Appointment cancellation reasons: https://docs.junction.com/api-reference/lab-testing/appointments/get-appointment-cancellation-reasons
    Area info: https://docs.junction.com/api-reference/lab-testing/service-areas/get-area-info
    PSC info: https://docs.junction.com/api-reference/lab-testing/service-areas/get-psc-info
    Lab locations: https://docs.junction.com/api-reference/lab-testing/service-areas/get-lab-locations
    Raw results: https://docs.junction.com/api-reference/lab-testing/results/get-lab-results
    Result metadata: https://docs.junction.com/api-reference/lab-testing/results/get-lab-results-metadata
    Result PDF: https://docs.junction.com/api-reference/lab-testing/results/get-lab-result-pdf
    Requisition form PDF: https://docs.junction.com/api-reference/lab-testing/orders/get-requisition-form
    List labs: https://docs.junction.com/api-reference/lab-testing/tests/get-labs
    Test markers: https://docs.junction.com/api-reference/lab-testing/tests/get-markers-for-lab-test
    Order-set markers: https://docs.junction.com/api-reference/lab-testing/results/get-order-set-markers
    Latest user info: https://docs.junction.com/api-reference/user/get-latest-user-info
  version: "0.4.758"
  x-mockingbird-upstream:
    docs: https://docs.junction.com/
    note: Hand-authored subset from Junction public OpenAPI snippets in the docs.
servers:
  - url: https://api.sandbox.us.junction.com
security:
  - apiKeyAuth: []
paths:
  /v2/user:
    post:
      operationId: create_user_v2_user_post
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserCreateBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientFacingUser"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientUserIDConflictResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    get:
      operationId: get_teams_users_v2_user_get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
        - name: offset
          in: query
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            maximum: 500
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedUsersResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "500":
          description: Internal Server Error
          content:
            text/plain:
              schema:
                type: string
  /v2/user/{user_id}:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: user
            missing: "00000000-0000-4000-8000-000000000000"
    get:
      operationId: get_user_v2_user__user_id__get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientFacingUser"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    delete:
      operationId: delete_user_v2_user__user_id__delete
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSuccessResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    patch:
      operationId: patch_user_v2_user__user_id__patch
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPatchBody"
      responses:
        "204":
          description: Successful Response
        "400":
          description: Nothing to patch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v2/user/resolve/{client_user_id}:
    parameters:
      - name: client_user_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
    get:
      operationId: get_user_by_client_user_id_v2_user_resolve__client_user_id__get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ClientFacingUser"
                  - $ref: "#/components/schemas/PaginatedUsersResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v2/user/{user_id}/info:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: user
            missing: "00000000-0000-4000-8000-000000000000"
    patch:
      operationId: patch_user_info_v2_user__user_id__info_patch
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInfoPatchBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInfo"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v2/user/{user_id}/info/latest:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: user
            missing: "00000000-0000-4000-8000-000000000000"
    get:
      operationId: get_latest_user_info_user_v2_user__user_id__info_latest_get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInfo"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/lab_test:
    get:
      operationId: get_paginated_lab_tests_for_team_v3_lab_test_get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabTestResourcesResponse"
  /v3/lab_tests/{lab_test_id}:
    parameters:
      - name: lab_test_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: lab_test
            missing: "00000000-0000-4000-8000-000000000000"
    get:
      operationId: get_lab_test_for_team_v3_lab_tests__lab_test_id__get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientFacingLabTest"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/lab_tests/labs:
    get:
      operationId: get_labs_v3_lab_tests_labs_get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClientFacingLab"
  /v3/lab_tests/{lab_test_id}/markers:
    parameters:
      - name: lab_test_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: lab_test
            missing: "00000000-0000-4000-8000-000000000000"
    get:
      operationId: get_markers_for_lab_test_v3_lab_tests__lab_test_id__markers_get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMarkersResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/lab_tests/list_order_set_markers:
    post:
      operationId: list_order_set_markers_v3_lab_tests_list_order_set_markers_post
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListOrderSetMarkersRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMarkersResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order:
    post:
      operationId: create_order_v3_order_post
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostOrderResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "500":
          description: Internal Server Error
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/area/info:
    get:
      operationId: get_area_info_v3_order_area_info_get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
        - name: zip_code
          in: query
          required: true
          schema:
            type: string
            minLength: 5
        - name: radius
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/AllowedRadius"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AreaInfo"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/psc/info:
    get:
      operationId: get_psc_info_v3_order_psc_info_get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
        - name: zip_code
          in: query
          required: true
          schema:
            type: string
            minLength: 5
        - name: lab_id
          in: query
          required: true
          schema:
            type: integer
        - name: radius
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/AllowedRadius"
        - name: capabilities
          in: query
          required: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/LabLocationCapability"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PscInfo"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/phlebotomy/appointment/availability:
    post:
      operationId: get_phlebotomy_appointment_availability_v3_order_phlebotomy_appointment_availability_post
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: >-
            availability slots are provider-side data whose values shift between sandbox calls;
            covered by the mock-internal scheduling property suite instead
      parameters:
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UsAddress"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppointmentAvailabilitySlots"
        "404":
          description: No availability found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/phlebotomy/appointment/cancellation-reasons:
    get:
      operationId: get_phlebotomy_appointment_cancellation_reason_v3_order_phlebotomy_appointment_cancellation_reasons_get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClientFacingAppointmentCancellationReason"
  /v3/order/psc/appointment/availability:
    post:
      operationId: get_psc_appointment_availability_v3_order_psc_appointment_availability_post
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: >-
            availability slots are provider-side data whose values shift between sandbox calls;
            covered by the mock-internal scheduling property suite instead
      parameters:
        - name: lab
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/AppointmentPscLabs"
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: site_codes
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded array of site codes
        - name: zip_code
          in: query
          required: false
          schema:
            type: string
        - name: radius
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/AllowedRadius"
        - name: allow_stale
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppointmentAvailabilitySlots"
        "404":
          description: No slots found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/psc/appointment/cancellation-reasons:
    get:
      operationId: get_psc_appointment_cancellation_reason_v3_order_psc_appointment_cancellation_reasons_get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClientFacingAppointmentCancellationReason"
  /v3/order/{order_id}/phlebotomy/appointment:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    get:
      operationId: get_phlebotomy_appointment_v3_order__order_id__phlebotomy_appointment_get
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: >-
            appointment payloads embed provider-side slot data; covered by the mock-internal
            scheduling property suite instead
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientFacingAppointment"
        "404":
          description: No appointment for this order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/{order_id}/phlebotomy/appointment/book:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    post:
      operationId: book_phlebotomy_appointment_v3_order__order_id__phlebotomy_appointment_book_post
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: >-
            booking depends on live provider slot state; covered by the mock-internal scheduling
            property suite instead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppointmentBookingRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientFacingAppointment"
        "400":
          description: Booking failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/{order_id}/phlebotomy/appointment/reschedule:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    patch:
      operationId: reschedule_phlebotomy_appointment_v3_order__order_id__phlebotomy_appointment_reschedule_patch
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: >-
            rescheduling depends on live provider slot state; covered by the mock-internal
            scheduling property suite instead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppointmentRescheduleRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientFacingAppointment"
        "404":
          description: No appointment for this order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/{order_id}/phlebotomy/appointment/cancel:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    patch:
      operationId: cancel_phlebotomy_appointment_v3_order__order_id__phlebotomy_appointment_cancel_patch
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: >-
            cancellation depends on live provider appointment state; covered by the mock-internal
            scheduling property suite instead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PhlebotomyAppointmentCancelRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientFacingAppointment"
        "404":
          description: No appointment for this order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/{order_id}/psc/appointment:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    get:
      operationId: get_psc_appointment_v3_order__order_id__psc_appointment_get
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: >-
            appointment payloads embed provider-side slot data; covered by the mock-internal
            scheduling property suite instead
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientFacingAppointment"
        "404":
          description: No appointment for this order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/{order_id}/psc/appointment/book:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    post:
      operationId: book_psc_appointment_v3_order__order_id__psc_appointment_book_post
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: >-
            booking depends on live provider slot state; covered by the mock-internal scheduling
            property suite instead
      parameters:
        - name: x-idempotency-key
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PscAppointmentBookingRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientFacingAppointment"
        "400":
          description: Booking failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/{order_id}/psc/appointment/reschedule:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    patch:
      operationId: reschedule_psc_appointment_v3_order__order_id__psc_appointment_reschedule_patch
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: >-
            rescheduling depends on live provider slot state; covered by the mock-internal
            scheduling property suite instead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppointmentRescheduleRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientFacingAppointment"
        "404":
          description: No appointment for this order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/{order_id}/psc/appointment/cancel:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    patch:
      operationId: cancel_psc_appointment_v3_order__order_id__psc_appointment_cancel_patch
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: >-
            cancellation depends on live provider appointment state; covered by the mock-internal
            scheduling property suite instead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PscAppointmentCancelRequest"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientFacingAppointment"
        "404":
          description: No appointment for this order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/{order_id}:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    get:
      operationId: get_order_v3_order__order_id__get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientFacingOrder"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/{order_id}/cancel:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    post:
      operationId: cancel_order_v3_order__order_id__cancel_post
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostOrderResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/{order_id}/test:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    post:
      operationId: simulate_order_v3_order__order_id__test_post
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
        - name: final_status
          in: query
          required: true
          schema:
            type: string
            enum:
              - received.walk_in_test.ordered
              - received.walk_in_test.requisition_created
              - received.walk_in_test.requisition_bypassed
              - completed.walk_in_test.completed
              - sample_with_lab.walk_in_test.partial_results
              - failed.walk_in_test.sample_error
              - cancelled.walk_in_test.cancelled
              - collecting_sample.walk_in_test.appointment_pending
              - collecting_sample.walk_in_test.appointment_scheduled
              - collecting_sample.walk_in_test.appointment_cancelled
              - collecting_sample.walk_in_test.redraw_available
              - received.at_home_phlebotomy.ordered
              - received.at_home_phlebotomy.requisition_created
              - received.at_home_phlebotomy.requisition_bypassed
              - collecting_sample.at_home_phlebotomy.appointment_pending
              - collecting_sample.at_home_phlebotomy.appointment_scheduled
              - collecting_sample.at_home_phlebotomy.draw_completed
              - collecting_sample.at_home_phlebotomy.appointment_cancelled
              - completed.at_home_phlebotomy.completed
              - sample_with_lab.at_home_phlebotomy.partial_results
              - cancelled.at_home_phlebotomy.cancelled
              - failed.at_home_phlebotomy.sample_error
              - received.testkit.ordered
              - received.testkit.awaiting_registration
              - received.testkit.requisition_created
              - received.testkit.requisition_bypassed
              - received.testkit.registered
              - collecting_sample.testkit.transit_customer
              - collecting_sample.testkit.out_for_delivery
              - collecting_sample.testkit.with_customer
              - collecting_sample.testkit.transit_lab
              - sample_with_lab.testkit.delivered_to_lab
              - sample_with_lab.testkit.lab_processing_blocked
              - completed.testkit.completed
              - failed.testkit.failure_to_deliver_to_customer
              - failed.testkit.failure_to_deliver_to_lab
              - failed.testkit.sample_error
              - failed.testkit.lost
              - cancelled.testkit.cancelled
              - cancelled.testkit.do_not_process
              - collecting_sample.testkit.problem_in_transit_customer
              - collecting_sample.testkit.problem_in_transit_lab
              - received.on_site_collection.ordered
              - received.on_site_collection.requisition_created
              - received.on_site_collection.requisition_bypassed
              - sample_with_lab.on_site_collection.draw_completed
              - completed.on_site_collection.completed
              - cancelled.on_site_collection.cancelled
              - sample_with_lab.on_site_collection.partial_results
              - failed.on_site_collection.sample_error
              - completed.walk_in_test.corrected
              - completed.at_home_phlebotomy.corrected
              - completed.on_site_collection.corrected
              - completed.testkit.corrected
        - name: delay
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            description: Seconds to defer the status transition
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SimulationFlags"
      responses:
        "200":
          description: Successful Response
          content:
            text/plain:
              schema:
                type: string
                examples: [Success]
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/{order_id}/result:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    get:
      operationId: get_result_raw_v3_order__order_id__result_get
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: >-
            results carry provider-side specimen data; covered by the mock-internal results
            property suite instead
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabResultsRaw"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/{order_id}/result/metadata:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    get:
      operationId: get_result_metadata_v3_order__order_id__result_metadata_get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabResultsMetadata"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/{order_id}/result/pdf:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    get:
      operationId: get_result_pdf_v3_order__order_id__result_pdf_get
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: >-
            PDF bytes are provider-rendered; compared by shape (byteLength) only in the scenario
            script
      responses:
        "200":
          description: Successful Response
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order/{order_id}/requisition/pdf:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
            missing: "00000000-0000-4000-8000-000000000000"
    get:
      operationId: get_order_requisition_pdf_v3_order__order_id__requisition_pdf_get
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: >-
            PDF bytes are provider-rendered; compared by shape (byteLength) only in the scenario
            script
      responses:
        "200":
          description: Successful Response
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/orders:
    get:
      operationId: get_orders_v3_orders_get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
            x-mockingbird-resource-ref:
              type: user
              missing: "00000000-0000-4000-8000-000000000000"
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrdersResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order_transaction/{transaction_id}:
    parameters:
      - name: transaction_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order_transaction
            missing: "00000000-0000-4000-8000-000000000000"
    get:
      operationId: get_order_transaction_v3_order_transaction__transaction_id__get
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: order transactions are not available to the sandbox team (feature not available)
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrderTransactionResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v3/order_transaction/{transaction_id}/result:
    parameters:
      - name: transaction_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order_transaction
            missing: "00000000-0000-4000-8000-000000000000"
    get:
      operationId: get_order_transaction_result_v3_order_transaction__transaction_id__result_get
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          safe: true
          reason: lab results are not available to the sandbox team (feature not available)
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabResultsRaw"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-vital-api-key
  schemas:
    UserCreateBody:
      type: object
      required: [client_user_id]
      properties:
        client_user_id:
          type: string
          minLength: 1
          maxLength: 64
          examples: [mbr_8891, patient-1042, user.profile_52]
        fallback_time_zone:
          type: ["string", "null"]
          enum: [America/Los_Angeles, America/New_York, Europe/London, UTC, null]
    ClientFacingUser:
      type: object
      required:
        - user_id
        - team_id
        - client_user_id
        - created_on
        - connected_sources
        - fallback_time_zone
      properties:
        user_id:
          type: string
          format: uuid
          x-mockingbird-resource:
            type: user
            identity: true
          x-mockingbird-volatile:
            kind: id
        team_id:
          type: string
          format: uuid
          x-mockingbird-volatile:
            kind: account
        client_user_id:
          type: string
        created_on:
          type: string
          format: date-time
          x-mockingbird-volatile:
            kind: timestamp
        connected_sources:
          type: array
          items:
            type: object
            additionalProperties: true
        fallback_time_zone:
          type: ["object", "null"]
          properties:
            id:
              type: string
            source_slug:
              type: string
            updated_at:
              type: string
              format: date-time
              x-mockingbird-volatile:
                kind: timestamp
        fallback_birth_date:
          type: ["object", "null"]
          properties:
            value:
              type: string
            source_slug:
              type: string
            updated_at:
              type: string
              format: date-time
              x-mockingbird-volatile:
                kind: timestamp
        ingestion_start:
          type: ["string", "null"]
        ingestion_end:
          type: ["string", "null"]
    UserInfoPatchBody:
      type: object
      properties:
        first_name:
          type: [string, "null"]
        last_name:
          type: [string, "null"]
        dob:
          type: [string, "null"]
        gender:
          type: [string, "null"]
        phone_number:
          type: [string, "null"]
        email:
          type: [string, "null"]
        address:
          type: [object, "null"]
          additionalProperties: true
    UserInfo:
      type: object
      additionalProperties: true
    ClientUserIDConflictResponse:
      type: object
      required: [detail]
      properties:
        detail:
          type: object
          required: [error_type, error_message, user_id, created_on]
          properties:
            error_type:
              type: string
            error_message:
              type: string
            user_id:
              type: string
              format: uuid
              x-mockingbird-volatile:
                kind: id
            created_on:
              type: string
              format: date-time
              x-mockingbird-volatile:
                kind: timestamp
    UserSuccessResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
    PaginatedUsersResponse:
      type: object
      required: [users, total, offset, limit]
      properties:
        users:
          type: array
          items:
            $ref: "#/components/schemas/ClientFacingUser"
        total:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
    UserPatchBody:
      type: object
      properties:
        fallback_time_zone:
          type: ["string", "null"]
        fallback_birth_date:
          type: ["string", "null"]
          format: date
        ingestion_start:
          type: ["string", "null"]
          format: date
        ingestion_end:
          type: ["string", "null"]
          format: date
        client_user_id:
          type: ["string", "null"]
    LabTestCollectionMethod:
      type: string
      enum: [testkit, walk_in_test, at_home_phlebotomy, on_site_collection]
    LabTestSampleType:
      type: string
      enum: [dried_blood_spot, arm_collector, serum, saliva, urine, stool]
    LabTestStatus:
      type: string
      enum: [active, pending_approval, inactive]
    MarkerType:
      type: string
      enum: [biomarker, panel]
    ClientFacingLab:
      type: object
      required:
        - id
        - slug
        - name
        - first_line_address
        - city
        - zipcode
        - collection_methods
        - sample_types
      properties:
        id:
          type: integer
          x-mockingbird-volatile:
            kind: id
        slug:
          type: string
        name:
          type: string
        first_line_address:
          type: string
        city:
          type: string
        zipcode:
          type: string
        collection_methods:
          type: array
          items:
            $ref: "#/components/schemas/LabTestCollectionMethod"
        sample_types:
          type: array
          items:
            $ref: "#/components/schemas/LabTestSampleType"
        logo_url:
          type: ["string", "null"]
    ClientFacingMarker:
      type: object
      required: [id, name, slug]
      properties:
        id:
          type: integer
          x-mockingbird-volatile:
            kind: id
        name:
          type: string
        slug:
          type: string
        description:
          type: ["string", "null"]
        lab_id:
          type: ["integer", "null"]
        provider_id:
          type: ["string", "null"]
        type:
          anyOf:
            - $ref: "#/components/schemas/MarkerType"
            - type: "null"
        unit:
          type: ["string", "null"]
        price:
          type: ["string", "null"]
        aoe:
          anyOf:
            - type: object
              additionalProperties: true
            - type: "null"
        a_la_carte_enabled:
          type: boolean
          default: false
        common_tat_days:
          type: ["integer", "null"]
        worst_case_tat_days:
          type: ["integer", "null"]
        is_orderable:
          type: ["boolean", "null"]
          default: true
    ClientFacingLabTest:
      type: object
      required:
        - id
        - slug
        - name
        - sample_type
        - method
        - price
        - is_active
        - status
        - lab
        - markers
      properties:
        id:
          type: string
          format: uuid
          x-mockingbird-resource:
            type: lab_test
            identity: true
        slug:
          type: string
        name:
          type: string
        sample_type:
          $ref: "#/components/schemas/LabTestSampleType"
        method:
          $ref: "#/components/schemas/LabTestCollectionMethod"
        price:
          type: number
        is_active:
          type: boolean
        status:
          $ref: "#/components/schemas/LabTestStatus"
        fasting:
          type: boolean
          default: false
        lab:
          anyOf:
            - $ref: "#/components/schemas/ClientFacingLab"
            - type: "null"
        markers:
          anyOf:
            - type: array
              items:
                $ref: "#/components/schemas/ClientFacingMarker"
            - type: "null"
        is_delegated:
          type: boolean
          default: false
        auto_generated:
          type: boolean
          default: false
        has_collection_instructions:
          type: ["boolean", "null"]
        common_tat_days:
          type: ["integer", "null"]
        worst_case_tat_days:
          type: ["integer", "null"]
    LabTestResourcesResponse:
      type: object
      required: [data, next_cursor]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ClientFacingLabTest"
        next_cursor:
          type: ["string", "null"]
    ClientFacingResult:
      type: object
      required: [name, slug, type]
      properties:
        name:
          type: string
        slug:
          type: string
        provider_id:
          type: ["string", "null"]
        type:
          $ref: "#/components/schemas/ResultType"
        value:
          type: ["number", "null"]
        unit:
          type: ["string", "null"]
        low_value:
          type: ["number", "null"]
        high_value:
          type: ["number", "null"]
        string_value:
          type: ["string", "null"]
        coded_value:
          type: ["string", "null"]
        is_abnormal:
          type: boolean
          default: false
        notes:
          type: ["string", "null"]
    GetMarkersResponse:
      type: object
      required: [markers]
      properties:
        markers:
          type: array
          items:
            $ref: "#/components/schemas/ClientFacingMarkerComplete"
        total:
          type: ["integer", "null"]
        page:
          type: ["integer", "null"]
        size:
          type: ["integer", "null"]
        pages:
          type: ["integer", "null"]
    ClientFacingExpectedResult:
      type: object
      required: [id, name, slug, required]
      properties:
        id:
          type: integer
          x-mockingbird-volatile:
            kind: id
        name:
          type: string
        slug:
          type: string
        lab_id:
          type: ["integer", "null"]
        provider_id:
          type: ["string", "null"]
        required:
          type: boolean
        loinc:
          type: ["object", "null"]
          additionalProperties: true
    ClientFacingMarkerComplete:
      type: object
      required: [id, name, slug, expected_results]
      properties:
        id:
          type: integer
          x-mockingbird-volatile:
            kind: id
        name:
          type: string
        slug:
          type: string
        description:
          type: ["string", "null"]
        lab_id:
          type: ["integer", "null"]
        provider_id:
          type: ["string", "null"]
        type:
          anyOf:
            - $ref: "#/components/schemas/MarkerType"
            - type: "null"
        unit:
          type: ["string", "null"]
        price:
          type: ["string", "null"]
        a_la_carte_enabled:
          type: boolean
          default: false
        common_tat_days:
          type: ["integer", "null"]
        worst_case_tat_days:
          type: ["integer", "null"]
        is_orderable:
          type: ["boolean", "null"]
          default: true
        expected_results:
          type: array
          items:
            $ref: "#/components/schemas/ClientFacingExpectedResult"
    ListOrderSetMarkersRequest:
      type: object
      required: [order_set_id]
      properties:
        order_set_id:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order_transaction
            missing: "00000000-0000-4000-8000-000000000000"
        provider_id:
          type: ["string", "null"]
    AllowedRadius:
      type: integer
      enum: [10, 20, 25, 50, 100]
    AppointmentPscLabs:
      type: string
      enum: [quest]
    AppointmentProvider:
      type: string
      enum: [getlabs, phlebfinders, quest]
    AppointmentType:
      type: string
      enum: [phlebotomy, patient_service_center]
    AppointmentStatus:
      type: string
      enum: [confirmed, pending, reserved, in_progress, completed, cancelled]
    AppointmentEventStatus:
      type: string
      enum: [pending, reserved, scheduled, completed, cancelled, in_progress]
    AppointmentServiceType:
      type: string
      enum: [appointment-ready, appointment-request]
    Billing:
      type: string
      enum: [client_bill, commercial_insurance, patient_bill_passthrough, patient_bill]
    LabLocationCapability:
      type: string
      enum: [stat, appointment_scheduling_via_junction, appointment_scheduling_with_lab]
    LngLat:
      type: object
      required: [lng, lat]
      properties:
        lng:
          type: number
        lat:
          type: number
    UsAddress:
      type: object
      required: [first_line, city, state, zip_code]
      properties:
        first_line:
          type: string
          minLength: 1
        second_line:
          type: ["string", "null"]
        city:
          type: string
          minLength: 1
        state:
          type: string
          minLength: 1
        zip_code:
          type: string
          minLength: 1
        unit:
          type: ["string", "null"]
    AppointmentLocation:
      type: object
      required: [location, address, code, name]
      properties:
        location:
          $ref: "#/components/schemas/LngLat"
        distance:
          type: ["number", "null"]
        address:
          $ref: "#/components/schemas/UsAddress"
        code:
          type: string
        name:
          type: string
        iana_timezone:
          type: ["string", "null"]
    TimeSlot:
      type: object
      required: [start, end, price, is_priority, num_appointments_available]
      properties:
        booking_key:
          type: ["string", "null"]
          x-mockingbird-resource:
            type: booking_key
            identity: true
          x-mockingbird-volatile:
            kind: token
        start:
          type: string
          format: date-time
          x-mockingbird-volatile:
            kind: timestamp
        end:
          type: string
          format: date-time
          x-mockingbird-volatile:
            kind: timestamp
        expires_at:
          type: ["string", "null"]
          x-mockingbird-volatile:
            kind: timestamp
        price:
          type: number
        is_priority:
          type: boolean
        num_appointments_available:
          type: integer
    DaySlots:
      type: object
      required: [date, slots]
      properties:
        location:
          anyOf:
            - $ref: "#/components/schemas/AppointmentLocation"
            - type: "null"
        date:
          type: string
          format: date
        slots:
          type: array
          items:
            $ref: "#/components/schemas/TimeSlot"
    AppointmentAvailabilitySlots:
      type: object
      required: [slots]
      properties:
        slots:
          type: array
          items:
            $ref: "#/components/schemas/DaySlots"
        timezone:
          type: ["string", "null"]
    AppointmentBookingRequest:
      type: object
      required: [booking_key]
      properties:
        booking_key:
          type: string
          minLength: 1
          x-mockingbird-resource-ref:
            type: booking_key
    AppointmentRescheduleRequest:
      type: object
      required: [booking_key]
      properties:
        booking_key:
          type: string
          minLength: 1
          x-mockingbird-resource-ref:
            type: booking_key
    PscAppointmentBookingRequest:
      type: object
      required: [booking_key, site_code]
      properties:
        booking_key:
          type: string
          minLength: 1
          x-mockingbird-resource-ref:
            type: booking_key
        site_code:
          type: string
          minLength: 1
    PhlebotomyAppointmentCancelRequest:
      type: object
      required: [cancellation_reason_id]
      properties:
        cancellation_reason_id:
          type: string
          minLength: 1
        notes:
          type: ["string", "null"]
    PscAppointmentCancelRequest:
      type: object
      required: [cancellationReasonId]
      properties:
        cancellationReasonId:
          type: string
          minLength: 1
        note:
          type: ["string", "null"]
    ClientFacingAppointmentEvent:
      type: object
      required: [created_at, status]
      properties:
        created_at:
          type: string
          format: date-time
          x-mockingbird-volatile:
            kind: timestamp
        status:
          $ref: "#/components/schemas/AppointmentEventStatus"
        data:
          anyOf:
            - type: object
              additionalProperties: true
            - type: "null"
    ClientFacingAppointment:
      type: object
      required:
        - id
        - user_id
        - order_id
        - address
        - location
        - type
        - provider
        - status
        - provider_id
        - can_reschedule
        - event_status
        - events
      properties:
        id:
          type: string
          format: uuid
          x-mockingbird-resource:
            type: appointment
            identity: true
          x-mockingbird-volatile:
            kind: id
        user_id:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: user
        order_id:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: order
        address:
          $ref: "#/components/schemas/UsAddress"
        location:
          $ref: "#/components/schemas/LngLat"
        start_at:
          anyOf:
            - type: string
              format: date-time
            - type: "null"
          x-mockingbird-volatile:
            kind: timestamp
        end_at:
          anyOf:
            - type: string
              format: date-time
            - type: "null"
          x-mockingbird-volatile:
            kind: timestamp
        iana_timezone:
          type: ["string", "null"]
        type:
          $ref: "#/components/schemas/AppointmentType"
        provider:
          $ref: "#/components/schemas/AppointmentProvider"
        status:
          $ref: "#/components/schemas/AppointmentStatus"
        provider_id:
          type: string
          x-mockingbird-volatile:
            kind: id
        external_id:
          type: ["string", "null"]
          x-mockingbird-volatile:
            kind: id
        can_reschedule:
          type: boolean
        event_status:
          $ref: "#/components/schemas/AppointmentEventStatus"
        event_data:
          anyOf:
            - type: object
              additionalProperties: true
            - type: "null"
        order_transaction_id:
          type: ["string", "null"]
          x-mockingbird-resource-ref:
            type: order_transaction
        appointment_notes:
          type: ["string", "null"]
        events:
          type: array
          items:
            $ref: "#/components/schemas/ClientFacingAppointmentEvent"
    ClientFacingAppointmentCancellationReason:
      type: object
      required: [id, name, is_refundable]
      properties:
        id:
          type: string
          x-mockingbird-volatile:
            kind: id
        name:
          type: string
        is_refundable:
          type: boolean
    PhlebotomyAreaInfo:
      type: object
      required: [is_served, providers]
      properties:
        is_served:
          type: boolean
        providers:
          type: array
          items:
            $ref: "#/components/schemas/PhlebotomyProviderInfo"
    PhlebotomyProviderInfo:
      type: object
      required: [name, service_types]
      properties:
        name:
          $ref: "#/components/schemas/AppointmentProvider"
        service_types:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentServiceType"
    PscAreaInfoDetails:
      type: object
      required: [appointment_with_vital, within_radius, radius]
      properties:
        appointment_with_vital:
          type: boolean
        within_radius:
          type: number
        radius:
          type: string
        capabilities:
          type: ["array", "null"]
          items:
            $ref: "#/components/schemas/LabLocationCapability"
    PscAreaInfo:
      type: object
      required: [patient_service_centers, supported_bill_types, lab_id]
      properties:
        patient_service_centers:
          $ref: "#/components/schemas/PscAreaInfoDetails"
        supported_bill_types:
          type: array
          items:
            $ref: "#/components/schemas/Billing"
        lab_id:
          type: integer
    AreaInfo:
      type: object
      required: [zip_code, phlebotomy, central_labs]
      properties:
        zip_code:
          type: string
        phlebotomy:
          $ref: "#/components/schemas/PhlebotomyAreaInfo"
        central_labs:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PscAreaInfo"
    LabLocationMetadata:
      type: object
      required: [name, state, city, zip_code, first_line]
      properties:
        name:
          type: string
        state:
          type: string
        city:
          type: string
        zip_code:
          type: string
        first_line:
          type: string
        second_line:
          type: ["string", "null"]
        phone_number:
          type: ["string", "null"]
        fax_number:
          type: ["string", "null"]
        hours:
          type: ["object", "null"]
          additionalProperties: true
    ClientFacingLabLocation:
      type: object
      required: [metadata, distance, site_code, supported_bill_types, location, capabilities]
      properties:
        metadata:
          $ref: "#/components/schemas/LabLocationMetadata"
        distance:
          type: number
        site_code:
          type: string
        supported_bill_types:
          type: array
          items:
            $ref: "#/components/schemas/Billing"
        location:
          $ref: "#/components/schemas/LngLat"
        capabilities:
          type: array
          items:
            $ref: "#/components/schemas/LabLocationCapability"
    PscInfo:
      type: object
      required: [lab_id, slug, patient_service_centers]
      properties:
        lab_id:
          type: integer
        slug:
          type: string
        patient_service_centers:
          type: array
          items:
            $ref: "#/components/schemas/ClientFacingLabLocation"
    OrderTopLevelStatus:
      type: string
      enum: [received, collecting_sample, sample_with_lab, completed, cancelled, failed]
    OrderLowLevelStatus:
      type: string
      enum:
        - ordered
        - requisition_created
        - requisition_bypassed
        - transit_customer
        - out_for_delivery
        - with_customer
        - transit_lab
        - delivered_to_lab
        - completed
        - failure_to_deliver_to_lab
        - failure_to_deliver_to_customer
        - problem_in_transit_lab
        - problem_in_transit_customer
        - sample_error
        - appointment_scheduled
        - appointment_cancelled
        - appointment_pending
        - draw_completed
        - cancelled
        - lost
        - do_not_process
        - partial_results
        - awaiting_registration
        - registered
        - redraw_available
        - corrected
        - lab_processing_blocked
    OrderStatus:
      type: string
      enum:
        - received.walk_in_test.ordered
        - received.walk_in_test.requisition_created
        - received.walk_in_test.requisition_bypassed
        - completed.walk_in_test.completed
        - sample_with_lab.walk_in_test.partial_results
        - failed.walk_in_test.sample_error
        - cancelled.walk_in_test.cancelled
        - collecting_sample.walk_in_test.appointment_pending
        - collecting_sample.walk_in_test.appointment_scheduled
        - collecting_sample.walk_in_test.appointment_cancelled
        - collecting_sample.walk_in_test.redraw_available
        - received.at_home_phlebotomy.ordered
        - received.at_home_phlebotomy.requisition_created
        - received.at_home_phlebotomy.requisition_bypassed
        - collecting_sample.at_home_phlebotomy.appointment_pending
        - collecting_sample.at_home_phlebotomy.appointment_scheduled
        - collecting_sample.at_home_phlebotomy.draw_completed
        - collecting_sample.at_home_phlebotomy.appointment_cancelled
        - completed.at_home_phlebotomy.completed
        - sample_with_lab.at_home_phlebotomy.partial_results
        - cancelled.at_home_phlebotomy.cancelled
        - failed.at_home_phlebotomy.sample_error
        - received.testkit.ordered
        - received.testkit.awaiting_registration
        - received.testkit.requisition_created
        - received.testkit.requisition_bypassed
        - received.testkit.registered
        - collecting_sample.testkit.transit_customer
        - collecting_sample.testkit.out_for_delivery
        - collecting_sample.testkit.with_customer
        - collecting_sample.testkit.transit_lab
        - sample_with_lab.testkit.delivered_to_lab
        - sample_with_lab.testkit.lab_processing_blocked
        - completed.testkit.completed
        - failed.testkit.failure_to_deliver_to_customer
        - failed.testkit.failure_to_deliver_to_lab
        - failed.testkit.sample_error
        - failed.testkit.lost
        - cancelled.testkit.cancelled
        - cancelled.testkit.do_not_process
        - collecting_sample.testkit.problem_in_transit_customer
        - collecting_sample.testkit.problem_in_transit_lab
        - received.on_site_collection.ordered
        - received.on_site_collection.requisition_created
        - received.on_site_collection.requisition_bypassed
        - sample_with_lab.on_site_collection.draw_completed
        - completed.on_site_collection.completed
        - cancelled.on_site_collection.cancelled
        - sample_with_lab.on_site_collection.partial_results
        - failed.on_site_collection.sample_error
        - completed.walk_in_test.corrected
        - completed.at_home_phlebotomy.corrected
        - completed.on_site_collection.corrected
        - completed.testkit.corrected
    OrderStatusDetail:
      type: string
      enum:
        - fulfillment_error
        - date_of_collection_unspecified
        - demographic_information_unspecified
        - demographic_information_mismatch
        - sample_quantity_not_sufficient
        - sample_contaminated
        - sample_stability_exceeded
        - sample_hemolyzed
        - sample_improper_collection
    OrderTransactionStatus:
      type: string
      enum: [active, completed, cancelled]
    ClientFacingOrderEvent:
      type: object
      required: [id, created_at, status]
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
          x-mockingbird-volatile:
            kind: timestamp
        status:
          $ref: "#/components/schemas/OrderStatus"
        status_detail:
          anyOf:
            - $ref: "#/components/schemas/OrderStatusDetail"
            - type: "null"
    ShippingAddress:
      type: object
      required: [receiver_name, first_line, city, state, zip, country, phone_number]
      properties:
        receiver_name:
          type: string
        first_line:
          type: string
        second_line:
          type: ["string", "null"]
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        phone_number:
          type: string
    ClientFacingPhysician:
      type: object
      required: [first_name, last_name, npi]
      properties:
        first_name:
          type: string
        last_name:
          type: string
        npi:
          type: string
    ClientFacingShipment:
      type: object
      required:
        - id
        - outbound_tracking_number
        - outbound_tracking_url
        - inbound_tracking_number
        - inbound_tracking_url
        - outbound_courier
        - inbound_courier
        - notes
      properties:
        id:
          type: string
          format: uuid
          x-mockingbird-volatile:
            kind: id
        outbound_tracking_number:
          type: ["string", "null"]
        outbound_tracking_url:
          type: ["string", "null"]
        inbound_tracking_number:
          type: ["string", "null"]
        inbound_tracking_url:
          type: ["string", "null"]
        outbound_courier:
          type: ["string", "null"]
        inbound_courier:
          type: ["string", "null"]
        notes:
          type: ["string", "null"]
    ClientFacingTestkitOrder:
      type: object
      required: [id, shipment, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
          x-mockingbird-volatile:
            kind: id
        shipment:
          anyOf:
            - $ref: "#/components/schemas/ClientFacingShipment"
            - type: "null"
        created_at:
          type: string
          format: date-time
          x-mockingbird-volatile:
            kind: timestamp
        updated_at:
          type: string
          format: date-time
          x-mockingbird-volatile:
            kind: timestamp
    ClientFacingWalkInOrder:
      type: object
      required: [id, appointment_id, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
          x-mockingbird-volatile:
            kind: id
        appointment_id:
          anyOf:
            - type: string
              format: uuid
            - type: "null"
        created_at:
          type: string
          format: date-time
          x-mockingbird-volatile:
            kind: timestamp
        updated_at:
          type: string
          format: date-time
          x-mockingbird-volatile:
            kind: timestamp
    ClientFacingTestKitOrderDetails:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [testkit, walk_in_test, at_home_phlebotomy, on_site_collection]
        data:
          anyOf:
            - $ref: "#/components/schemas/ClientFacingTestkitOrder"
            - $ref: "#/components/schemas/ClientFacingWalkInOrder"
            - type: "null"
    ClientFacingPatientDetailsCompatible:
      type: object
      required: [first_name, last_name, dob, gender, phone_number, email]
      properties:
        first_name:
          type: string
          minLength: 1
          pattern: "^[a-zA-Z0-9][a-zA-Z0-9 .,'-]*$"
          examples: [Ada, Chris, Maria, Jun]
        last_name:
          type: string
          minLength: 1
          pattern: "^[a-zA-Z0-9][a-zA-Z0-9 .,'-]*$"
          examples: [Lovelace, Vouga, Delgado, Park]
        dob:
          type: string
          format: date-time
          examples: [1990-06-15T00:00:00.000Z, 1983-02-02T00:00:00.000Z]
        gender:
          type: string
          minLength: 1
          pattern: "\\S"
          examples: [male, female, other, prefer_not_to_say]
        phone_number:
          type: string
          minLength: 1
          pattern: "^\\+1[2-9]\\d{9}$"
          examples: ["+14155550123", "+12125550987", "+13105554444"]
        email:
          type: string
          format: email
          minLength: 1
          examples: [ada@example.com, chris@example.com, maria@example.com]
    PatientAddressCompatible:
      type: object
      required: [first_line, city, state, zip, country]
      properties:
        receiver_name:
          type: string
          default: ""
          examples: [Ada Lovelace, Chris Vouga]
        first_line:
          type: string
          minLength: 1
          pattern: "\\S"
          examples: ["1 Main St", "450 Market St", "88 Kearny St"]
        second_line:
          type: ["string", "null"]
        city:
          type: string
          minLength: 1
          pattern: "\\S"
          examples: [San Diego, San Francisco, New York]
        state:
          type: string
          minLength: 1
          enum: [AL, AK, AZ, AR, CA, CO, CT, DE, FL, GA, HI, ID, IL, IN, IA, KS, KY, LA, ME, MD, MA, MI, MN, MS, MO, MT, NE, NV, NH, NJ, NM, NY, NC, ND, OH, OK, OR, PA, RI, SC, SD, TN, TX, UT, VT, VA, WA, WV, WI, WY]
        zip:
          type: string
          pattern: "^\\d{5}(-\\d{4})?$"
          examples: ["92101", "94105", "10001"]
        country:
          type: string
          minLength: 1
          pattern: "\\S"
          examples: [US]
        access_notes:
          type: ["string", "null"]
          examples: [null]
        phone_number:
          type: ["string", "null"]
          examples: ["+14155550123", null]
    AoeAnswerRequest:
      type: object
      required: [marker_id, question_id, answer]
      properties:
        marker_id:
          type: integer
          examples: [2075, 1975]
        question_id:
          type: integer
          examples: [1]
        answer:
          type: string
          minLength: 1
          examples: [No, Yes]
    ClientFacingOrderInTransaction:
      type: object
      required: [id, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        low_level_status:
          anyOf:
            - $ref: "#/components/schemas/OrderLowLevelStatus"
            - type: "null"
        low_level_status_created_at:
          anyOf:
            - type: string
              format: date-time
            - type: "null"
          x-mockingbird-volatile:
            kind: timestamp
        created_at:
          type: string
          format: date-time
          x-mockingbird-volatile:
            kind: timestamp
        updated_at:
          type: string
          format: date-time
          x-mockingbird-volatile:
            kind: timestamp
    ClientFacingOrderTransaction:
      type: object
      required: [id, status, orders]
      properties:
        id:
          type: string
          format: uuid
          x-mockingbird-resource:
            type: order_transaction
            identity: true
          x-mockingbird-volatile:
            kind: id
        status:
          $ref: "#/components/schemas/OrderTransactionStatus"
        orders:
          type: array
          items:
            $ref: "#/components/schemas/ClientFacingOrderInTransaction"
    OrderSummary:
      type: object
      required: [id, last_status, last_status_created_at, updated_at, created_at]
      properties:
        id:
          type: string
          format: uuid
        origin:
          anyOf:
            - type: string
              enum: [initial, redraw, recreation]
            - type: "null"
        parent_id:
          anyOf:
            - type: string
              format: uuid
            - type: "null"
        last_status:
          $ref: "#/components/schemas/OrderLowLevelStatus"
        last_status_created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
    GetOrderTransactionResponse:
      type: object
      required: [id, team_id, status]
      properties:
        id:
          type: string
          format: uuid
          x-mockingbird-resource:
            type: order_transaction
            identity: true
          x-mockingbird-volatile:
            kind: id
        team_id:
          type: string
          format: uuid
          x-mockingbird-volatile:
            kind: account
        status:
          $ref: "#/components/schemas/OrderTransactionStatus"
        orders:
          type: array
          items:
            $ref: "#/components/schemas/OrderSummary"
    ClientFacingOrder:
      type: object
      required:
        - user_id
        - id
        - team_id
        - patient_details
        - patient_address
        - lab_test
        - details
        - sample_id
        - notes
        - created_at
        - updated_at
        - events
        - last_event
        - health_insurance_id
        - requisition_form_url
        - shipping_details
        - has_abn
      properties:
        user_id:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
          x-mockingbird-resource:
            type: order
            identity: true
          x-mockingbird-volatile:
            kind: id
        team_id:
          type: string
          format: uuid
          x-mockingbird-volatile:
            kind: account
        patient_details:
          anyOf:
            - $ref: "#/components/schemas/ClientFacingPatientDetailsCompatible"
            - type: "null"
        patient_address:
          anyOf:
            - $ref: "#/components/schemas/PatientAddressCompatible"
            - type: "null"
        lab_test:
          $ref: "#/components/schemas/ClientFacingLabTest"
        details:
          $ref: "#/components/schemas/ClientFacingTestKitOrderDetails"
        sample_id:
          anyOf:
            - type: string
            - type: "null"
          x-mockingbird-volatile:
            kind: id
        notes:
          anyOf:
            - type: string
            - type: "null"
        clinical_notes:
          anyOf:
            - type: string
            - type: "null"
        created_at:
          type: string
          format: date-time
          x-mockingbird-volatile:
            kind: timestamp
        updated_at:
          type: string
          format: date-time
          x-mockingbird-volatile:
            kind: timestamp
        events:
          type: array
          items:
            $ref: "#/components/schemas/ClientFacingOrderEvent"
        status:
          anyOf:
            - $ref: "#/components/schemas/OrderTopLevelStatus"
            - type: "null"
        last_event:
          $ref: "#/components/schemas/ClientFacingOrderEvent"
        physician:
          anyOf:
            - $ref: "#/components/schemas/ClientFacingPhysician"
            - type: "null"
        health_insurance_id:
          anyOf:
            - type: string
              format: uuid
            - type: "null"
        requisition_form_url:
          anyOf:
            - type: string
            - type: "null"
          x-mockingbird-volatile:
            kind: url
        priority:
          type: boolean
          default: false
        shipping_details:
          anyOf:
            - $ref: "#/components/schemas/ShippingAddress"
            - type: "null"
        activate_by:
          anyOf:
            - type: string
              format: date
            - type: "null"
        passthrough:
          anyOf:
            - type: string
            - type: "null"
        billing_type:
          type: string
          enum: [client_bill, commercial_insurance, patient_bill_passthrough, patient_bill, upfront_payment]
          default: client_bill
        icd_codes:
          anyOf:
            - type: array
              items:
                type: string
            - type: "null"
        has_abn:
          type: boolean
        interpretation:
          anyOf:
            - type: string
              enum: [normal, abnormal, critical, unknown]
            - type: "null"
        has_missing_results:
          anyOf:
            - type: boolean
            - type: "null"
        expected_result_by_date:
          anyOf:
            - type: string
              format: date
            - type: "null"
        worst_case_result_by_date:
          anyOf:
            - type: string
              format: date
            - type: "null"
        origin:
          anyOf:
            - type: string
              enum: [initial, redraw, recreation]
            - type: "null"
        order_transaction:
          anyOf:
            - $ref: "#/components/schemas/ClientFacingOrderTransaction"
            - type: "null"
    OrderSetRequest:
      type: object
      required: [lab_test_ids]
      properties:
        lab_test_ids:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
            x-mockingbird-resource-ref:
              type: lab_test
              missing: "00000000-0000-4000-8000-000000000000"
    CreateOrderRequest:
      type: object
      required: [user_id, patient_details, patient_address, order_set]
      properties:
        user_id:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: user
            missing: "00000000-0000-4000-8000-000000000000"
        patient_details:
          $ref: "#/components/schemas/ClientFacingPatientDetailsCompatible"
        patient_address:
          $ref: "#/components/schemas/PatientAddressCompatible"
        order_set:
          $ref: "#/components/schemas/OrderSetRequest"
        clinical_notes:
          anyOf:
            - type: string
            - type: "null"
        passthrough:
          anyOf:
            - type: string
            - type: "null"
        collection_method:
          $ref: "#/components/schemas/LabTestCollectionMethod"
        lab_account_id:
          anyOf:
            - type: string
            - type: "null"
        idempotency_key:
          type: [string, "null"]
        idempotency_error:
          type: [string, "null"]
        aoe_answers:
          type: [array, "null"]
          items:
            $ref: "#/components/schemas/AoeAnswerRequest"
    PostOrderResponse:
      type: object
      required: [order, status, message]
      properties:
        order:
          $ref: "#/components/schemas/ClientFacingOrder"
        status:
          type: string
        message:
          type: string
    ResultType:
      type: string
      enum: [numeric, range, comment, coded_value]
    ParentBiomarkerData:
      type: object
      required: [marker_id, name, slug]
      properties:
        marker_id:
          type: integer
        name:
          type: string
        slug:
          type: string
        provider_id:
          type: ["string", "null"]
    BiomarkerResult:
      type: object
      required: [name, result, type]
      properties:
        name:
          type: string
        slug:
          type: string
          default: ""
        value:
          anyOf:
            - type: number
            - type: "null"
        result:
          type: string
        type:
          $ref: "#/components/schemas/ResultType"
        unit:
          type: ["string", "null"]
        timestamp:
          anyOf:
            - type: string
              format: date-time
            - type: "null"
          x-mockingbird-volatile:
            kind: timestamp
        notes:
          type: ["string", "null"]
        reference_range:
          type: ["string", "null"]
        min_range_value:
          type: ["number", "null"]
        max_range_value:
          type: ["number", "null"]
        is_above_max_range:
          type: ["boolean", "null"]
        is_below_min_range:
          type: ["boolean", "null"]
        interpretation:
          type: string
          default: normal
        source_interpretation:
          type: string
          default: ""
        loinc:
          type: ["string", "null"]
        loinc_slug:
          type: ["string", "null"]
        provider_id:
          type: ["string", "null"]
        source_markers:
          anyOf:
            - type: array
              items:
                $ref: "#/components/schemas/ParentBiomarkerData"
            - type: "null"
        performing_laboratory:
          type: ["string", "null"]
        source_sample_id:
          type: ["string", "null"]
    FailureType:
      type: string
      enum:
        - quantity_not_sufficient_failure
        - collection_process_failure
        - drop_off_failure
        - internal_lab_failure
        - order_entry_failure
        - non_failure
        - unknown_failure
        - patient_condition_failure
        - missing_result_calc_failure
        - missing_demo_aoe_calc_failure
        - insufficient_volume
    MissingBiomarkerResult:
      type: object
      required: [name, slug, inferred_failure_type]
      properties:
        name:
          type: string
        slug:
          type: string
        inferred_failure_type:
          $ref: "#/components/schemas/FailureType"
        note:
          type: ["string", "null"]
        loinc:
          type: ["string", "null"]
        loinc_slug:
          type: ["string", "null"]
        provider_id:
          type: ["string", "null"]
        source_markers:
          anyOf:
            - type: array
              items:
                $ref: "#/components/schemas/ParentBiomarkerData"
            - type: "null"
    SampleData:
      type: object
      properties:
        sample_id:
          type: ["string", "null"]
        control_number:
          type: ["string", "null"]
        date_collected:
          type: ["string", "null"]
        date_received:
          type: ["string", "null"]
        date_reported:
          type: ["string", "null"]
        performing_laboratories:
          anyOf:
            - type: object
              additionalProperties: true
            - type: "null"
        clinical_information:
          anyOf:
            - type: object
              additionalProperties: true
            - type: "null"
    LabResultsMetadata:
      type: object
      required: [age, dob, patient, date_reported, specimen_number]
      properties:
        age:
          type: string
        dob:
          type: string
        "clia_#":
          anyOf:
            - type: string
            - type: "null"
        patient:
          type: string
        provider:
          anyOf:
            - type: string
            - type: "null"
        laboratory:
          anyOf:
            - type: string
            - type: "null"
        date_reported:
          type: string
        date_collected:
          anyOf:
            - type: string
            - type: "null"
        specimen_number:
          type: string
          x-mockingbird-volatile:
            kind: id
        date_received:
          anyOf:
            - type: string
            - type: "null"
        status:
          type: string
          default: final
        interpretation:
          anyOf:
            - type: string
            - type: "null"
        patient_id:
          anyOf:
            - type: string
            - type: "null"
        account_id:
          anyOf:
            - type: string
            - type: "null"
    LabResultsRaw:
      type: object
      required: [metadata, results]
      properties:
        metadata:
          $ref: "#/components/schemas/LabResultsMetadata"
        results:
          anyOf:
            - type: array
              items:
                $ref: "#/components/schemas/BiomarkerResult"
            - type: object
              additionalProperties: true
        missing_results:
          anyOf:
            - type: array
              items:
                $ref: "#/components/schemas/MissingBiomarkerResult"
            - type: "null"
        sample_information:
          anyOf:
            - type: object
              additionalProperties:
                $ref: "#/components/schemas/SampleData"
            - type: "null"
        order_transaction:
          anyOf:
            - $ref: "#/components/schemas/ClientFacingOrderTransaction"
            - type: "null"
    SimulationFlags:
      type: object
      properties:
        interpretation:
          anyOf:
            - type: string
              enum: [normal, abnormal, critical, unknown]
            - type: "null"
        result_types:
          type: array
          items:
            $ref: "#/components/schemas/ResultType"
        has_missing_results:
          type: boolean
    GetOrdersResponse:
      type: object
      required: [orders]
      properties:
        orders:
          type: array
          items:
            $ref: "#/components/schemas/ClientFacingOrder"
        total:
          anyOf:
            - type: integer
            - type: "null"
        page:
          anyOf:
            - type: integer
            - type: "null"
        size:
          anyOf:
            - type: integer
            - type: "null"
    HTTPValidationError:
      type: object
      properties:
        detail:
          title: Detail
