openapi: 3.1.0
info:
  title: Junction API (Mockingbird subset)
  description: |
    Stateful mock subset of the Junction (Vital) API.
    Docs: https://docs.junction.com/
    Auth: https://docs.junction.com/api-details/junction-api
    Create user: https://docs.junction.com/api-reference/user/create-user
    Get user: https://docs.junction.com/api-reference/user/get-user
    Delete user: https://docs.junction.com/api-reference/user/delete-user
  version: "0.4.749"
  x-mockingbird-upstream:
    docs: https://docs.junction.com/
    note: Hand-authored subset from Junction public OpenAPI snippets in the docs.
servers:
  - url: https://api.sandbox.us.junction.com
security:
  - apiKeyAuth: []
paths:
  /v2/user:
    post:
      operationId: create_user_v2_user_post
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserCreateBody"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientFacingUser"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientUserIDConflictResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v2/user/{user_id}:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          x-mockingbird-resource-ref:
            type: user
            missing: "00000000-0000-4000-8000-000000000000"
    get:
      operationId: get_user_v2_user__user_id__get
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientFacingUser"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    delete:
      operationId: delete_user_v2_user__user_id__delete
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSuccessResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-vital-api-key
  schemas:
    UserCreateBody:
      type: object
      required: [client_user_id]
      properties:
        client_user_id:
          type: string
          minLength: 1
          maxLength: 64
        fallback_time_zone:
          type: ["string", "null"]
          enum: [America/Los_Angeles, America/New_York, Europe/London, UTC, null]
    ClientFacingUser:
      type: object
      required:
        - user_id
        - team_id
        - client_user_id
        - created_on
        - connected_sources
        - fallback_time_zone
      properties:
        user_id:
          type: string
          format: uuid
          x-mockingbird-resource:
            type: user
            identity: true
          x-mockingbird-volatile:
            kind: id
        team_id:
          type: string
          format: uuid
          x-mockingbird-volatile:
            kind: account
        client_user_id:
          type: string
        created_on:
          type: string
          format: date-time
          x-mockingbird-volatile:
            kind: timestamp
        connected_sources:
          type: array
          items:
            type: object
            additionalProperties: true
        fallback_time_zone:
          type: ["object", "null"]
          additionalProperties: true
        fallback_birth_date:
          type: ["object", "null"]
          additionalProperties: true
        ingestion_start:
          type: ["string", "null"]
        ingestion_end:
          type: ["string", "null"]
    ClientUserIDConflictResponse:
      type: object
      required: [detail]
      properties:
        detail:
          type: object
          required: [error_type, error_message, user_id, created_on]
          properties:
            error_type:
              type: string
            error_message:
              type: string
            user_id:
              type: string
              format: uuid
              x-mockingbird-volatile:
                kind: id
            created_on:
              type: string
              format: date-time
              x-mockingbird-volatile:
                kind: timestamp
    UserSuccessResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
    HTTPValidationError:
      type: object
      properties:
        detail:
          title: Detail
