# Generated by scripts/vendor.ts from stripe/openapi@6ed8e70ed90416a4f37603fffcf2fb1f96b405d5 (openapi/spec3.json). Do not edit by hand.
openapi: 3.1.0
info:
  title: Stripe API (Mockingbird subset)
  version: 2026-08-26.dahlia
  x-mockingbird-upstream:
    repository: stripe/openapi
    commit: 6ed8e70ed90416a4f37603fffcf2fb1f96b405d5
    file: openapi/spec3.json
    url: https://github.com/stripe/openapi
servers:
  - url: https://api.stripe.com/
security:
  - bearerAuth: []
paths:
  /v1/account:
    get:
      operationId: GetAccount
      parameters:
        - explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
            x-mockingbird-unsupported:
              reason: not part of the random walk
          style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              properties: {}
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: Retrieve account
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
  /v1/balance:
    get:
      operationId: GetBalance
      parameters:
        - explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
            x-mockingbird-unsupported:
              reason: not part of the random walk
          style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              properties: {}
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/balance"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: Retrieve balance
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
  /v1/balance_transactions:
    get:
      operationId: GetBalanceTransactions
      parameters:
        - explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                    x-mockingbird-scope:
                      value: walk-start-unix
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - in: query
          name: currency
          required: false
          schema:
            format: currency
            type: string
          style: form
        - in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
            x-mockingbird-resource-ref:
              type: balance_transaction
              missing: txn_mockingbird_missing
          style: form
        - explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
            x-mockingbird-unsupported:
              reason: not part of the random walk
          style: deepObject
        - in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - in: query
          name: payout
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - in: query
          name: source
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
            x-mockingbird-resource-ref:
              type: balance_transaction
              missing: txn_mockingbird_missing
          style: form
        - in: query
          name: type
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              properties: {}
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/balance_transaction"
                    type: array
                  has_more:
                    type: boolean
                  object:
                    enum:
                      - list
                    type: string
                  url:
                    maxLength: 5000
                    pattern: ^/v1/balance_transactions
                    type: string
                required:
                  - data
                  - has_more
                  - object
                  - url
                title: BalanceTransactionsList
                type: object
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: List all balance transactions
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
  /v1/balance_transactions/{id}:
    get:
      operationId: GetBalanceTransactionsId
      parameters:
        - explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
            x-mockingbird-unsupported:
              reason: not part of the random walk
          style: deepObject
        - in: path
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
            x-mockingbird-resource-ref:
              type: balance_transaction
              missing: txn_mockingbird_missing
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              properties: {}
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/balance_transaction"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: Retrieve a balance transaction
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
  /v1/billing_portal/sessions:
    post:
      operationId: PostBillingPortalSessions
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              flow_data:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              properties:
                configuration:
                  maxLength: 5000
                  type: string
                customer:
                  maxLength: 5000
                  type: string
                  x-mockingbird-resource-ref:
                    type: customer
                    missing: cus_mockingbird_missing
                customer_account:
                  maxLength: 5000
                  type: string
                expand:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                flow_data:
                  properties:
                    after_completion:
                      properties:
                        hosted_confirmation:
                          properties:
                            custom_message:
                              maxLength: 500
                              type: string
                          title: after_completion_hosted_confirmation_param
                          type: object
                        redirect:
                          properties:
                            return_url:
                              type: string
                          required:
                            - return_url
                          title: after_completion_redirect_param
                          type: object
                        type:
                          enum:
                            - hosted_confirmation
                            - portal_homepage
                            - redirect
                          type: string
                      required:
                        - type
                      title: flow_data_after_completion_param
                      type: object
                    subscription_cancel:
                      properties:
                        retention:
                          properties:
                            coupon_offer:
                              properties:
                                coupon:
                                  maxLength: 5000
                                  type: string
                              required:
                                - coupon
                              title: coupon_offer_param
                              type: object
                            type:
                              enum:
                                - coupon_offer
                              type: string
                          required:
                            - coupon_offer
                            - type
                          title: retention_param
                          type: object
                        subscription:
                          maxLength: 5000
                          type: string
                      required:
                        - subscription
                      title: flow_data_subscription_cancel_param
                      type: object
                    subscription_update:
                      properties:
                        subscription:
                          maxLength: 5000
                          type: string
                      required:
                        - subscription
                      title: flow_data_subscription_update_param
                      type: object
                    subscription_update_confirm:
                      properties:
                        discounts:
                          items:
                            properties:
                              coupon:
                                maxLength: 5000
                                type: string
                              promotion_code:
                                maxLength: 5000
                                type: string
                            title: subscription_update_confirm_discount_params
                            type: object
                          type: array
                        items:
                          items:
                            properties:
                              id:
                                maxLength: 5000
                                type: string
                              price:
                                maxLength: 5000
                                type: string
                              quantity:
                                type: integer
                            required:
                              - id
                            title: subscription_update_confirm_item_params
                            type: object
                          type: array
                        subscription:
                          maxLength: 5000
                          type: string
                      required:
                        - items
                        - subscription
                      title: flow_data_subscription_update_confirm_param
                      type: object
                    type:
                      enum:
                        - customer_update
                        - payment_method_update
                        - subscription_cancel
                        - subscription_update
                        - subscription_update_confirm
                      type: string
                  required:
                    - type
                  title: flow_data_param
                  type: object
                locale:
                  enum:
                    - auto
                    - bg
                    - cs
                    - da
                    - de
                    - el
                    - en
                    - en-AU
                    - en-CA
                    - en-GB
                    - en-IE
                    - en-IN
                    - en-NZ
                    - en-SG
                    - es
                    - es-419
                    - et
                    - fi
                    - fil
                    - fr
                    - fr-CA
                    - hr
                    - hu
                    - id
                    - it
                    - ja
                    - ko
                    - lt
                    - lv
                    - ms
                    - mt
                    - nb
                    - nl
                    - pl
                    - pt
                    - pt-BR
                    - ro
                    - ru
                    - sk
                    - sl
                    - sv
                    - th
                    - tr
                    - vi
                    - zh
                    - zh-HK
                    - zh-TW
                  type: string
                on_behalf_of:
                  type: string
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                return_url:
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/billing_portal.session"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: Create a portal session
      parameters: []
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
  /v1/charges:
    get:
      operationId: GetCharges
      parameters:
        - explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                    x-mockingbird-scope:
                      value: walk-start-unix
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - in: query
          name: customer
          required: false
          schema:
            maxLength: 5000
            type: string
            x-mockingbird-resource-ref:
              type: customer
              missing: cus_mockingbird_missing
          style: form
        - in: query
          name: ending_before
          required: false
          schema:
            type: string
            x-mockingbird-resource-ref:
              type: charge
              missing: ch_mockingbird_missing
          style: form
        - explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
            x-mockingbird-unsupported:
              reason: not part of the random walk
          style: deepObject
        - in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - in: query
          name: payment_intent
          required: false
          schema:
            maxLength: 5000
            type: string
            x-mockingbird-resource-ref:
              type: payment_intent
              missing: pi_mockingbird_missing
          style: form
        - in: query
          name: starting_after
          required: false
          schema:
            type: string
            x-mockingbird-resource-ref:
              type: charge
              missing: ch_mockingbird_missing
          style: form
        - in: query
          name: transfer_group
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              properties: {}
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/charge"
                    type: array
                  has_more:
                    type: boolean
                  object:
                    enum:
                      - list
                    type: string
                  url:
                    maxLength: 5000
                    pattern: ^/v1/charges
                    type: string
                required:
                  - data
                  - has_more
                  - object
                  - url
                title: ChargeList
                type: object
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: List all charges
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
    post:
      operationId: PostCharges
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              card:
                explode: true
                style: deepObject
              destination:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              radar_options:
                explode: true
                style: deepObject
              shipping:
                explode: true
                style: deepObject
              transfer_data:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              properties:
                amount:
                  type: integer
                application_fee:
                  type: integer
                application_fee_amount:
                  type: integer
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                capture:
                  type: boolean
                card:
                  anyOf:
                    - properties:
                        address_city:
                          maxLength: 5000
                          type: string
                        address_country:
                          maxLength: 5000
                          type: string
                        address_line1:
                          maxLength: 5000
                          type: string
                        address_line2:
                          maxLength: 5000
                          type: string
                        address_state:
                          maxLength: 5000
                          type: string
                        address_zip:
                          maxLength: 5000
                          type: string
                        cvc:
                          maxLength: 5000
                          type: string
                        encrypted:
                          maxLength: 5000
                          type: string
                        exp_month:
                          type: integer
                        exp_year:
                          type: integer
                        metadata:
                          additionalProperties:
                            type: string
                          type: object
                        name:
                          maxLength: 5000
                          type: string
                        network_token:
                          properties:
                            number:
                              maxLength: 5000
                              type: string
                          title: source_deprecated_card_network_token
                          type: object
                        number:
                          maxLength: 5000
                          type: string
                        object:
                          enum:
                            - card
                          maxLength: 5000
                          type: string
                        swipe_data:
                          maxLength: 5000
                          type: string
                      required:
                        - exp_month
                        - exp_year
                        - number
                      title: customer_payment_source_card
                      type: object
                    - maxLength: 5000
                      type: string
                currency:
                  format: currency
                  type: string
                customer:
                  maxLength: 500
                  type: string
                  x-mockingbird-resource-ref:
                    type: customer
                    missing: cus_mockingbird_missing
                description:
                  maxLength: 40000
                  type: string
                destination:
                  anyOf:
                    - properties:
                        account:
                          maxLength: 5000
                          type: string
                        amount:
                          type: integer
                      required:
                        - account
                      title: destination_specs
                      type: object
                    - type: string
                expand:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                metadata:
                  anyOf:
                    - additionalProperties:
                        type: string
                      type: object
                    - enum:
                        - ""
                      type: string
                on_behalf_of:
                  maxLength: 5000
                  type: string
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                radar_options:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                receipt_email:
                  type: string
                shipping:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                source:
                  maxLength: 5000
                  type: string
                statement_descriptor:
                  maxLength: 22
                  type: string
                statement_descriptor_suffix:
                  maxLength: 22
                  type: string
                transfer_data:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                transfer_group:
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/charge"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: Create a charge
      parameters: []
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
  /v1/charges/{charge}:
    get:
      operationId: GetChargesCharge
      parameters:
        - in: path
          name: charge
          required: true
          schema:
            maxLength: 5000
            type: string
            x-mockingbird-resource-ref:
              type: charge
              missing: ch_mockingbird_missing
          style: simple
        - explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
            x-mockingbird-unsupported:
              reason: not part of the random walk
          style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              properties: {}
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/charge"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: Retrieve a charge
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
    post:
      operationId: PostChargesCharge
      parameters:
        - in: path
          name: charge
          required: true
          schema:
            maxLength: 5000
            type: string
            x-mockingbird-resource-ref:
              type: charge
              missing: ch_mockingbird_missing
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              fraud_details:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              shipping:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              properties:
                customer:
                  maxLength: 5000
                  type: string
                description:
                  maxLength: 40000
                  type: string
                expand:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                fraud_details:
                  properties:
                    user_report:
                      enum:
                        - ""
                        - fraudulent
                        - safe
                      maxLength: 5000
                      type: string
                  required:
                    - user_report
                  title: fraud_details
                  type: object
                metadata:
                  anyOf:
                    - additionalProperties:
                        type: string
                      type: object
                    - enum:
                        - ""
                      type: string
                receipt_email:
                  maxLength: 5000
                  type: string
                shipping:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                transfer_group:
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/charge"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: Update a charge
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
  /v1/charges/{charge}/capture:
    post:
      operationId: PostChargesChargeCapture
      parameters:
        - in: path
          name: charge
          required: true
          schema:
            maxLength: 5000
            type: string
            x-mockingbird-resource-ref:
              type: charge
              missing: ch_mockingbird_missing
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              transfer_data:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              properties:
                amount:
                  type: integer
                application_fee:
                  type: integer
                application_fee_amount:
                  type: integer
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                expand:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                receipt_email:
                  type: string
                statement_descriptor:
                  maxLength: 22
                  type: string
                statement_descriptor_suffix:
                  maxLength: 22
                  type: string
                transfer_data:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                transfer_group:
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/charge"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: Capture a charge
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
  /v1/charges/{charge}/refunds:
    get:
      operationId: GetChargesChargeRefunds
      parameters:
        - in: path
          name: charge
          required: true
          schema:
            type: string
            x-mockingbird-resource-ref:
              type: charge
              missing: ch_mockingbird_missing
          style: simple
        - in: query
          name: ending_before
          required: false
          schema:
            type: string
            x-mockingbird-resource-ref:
              type: refund
              missing: re_mockingbird_missing
          style: form
        - explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
            x-mockingbird-unsupported:
              reason: not part of the random walk
          style: deepObject
        - in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - in: query
          name: starting_after
          required: false
          schema:
            type: string
            x-mockingbird-resource-ref:
              type: refund
              missing: re_mockingbird_missing
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              properties: {}
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/refund"
                    type: array
                  has_more:
                    type: boolean
                  object:
                    enum:
                      - list
                    type: string
                  url:
                    maxLength: 5000
                    type: string
                required:
                  - data
                  - has_more
                  - object
                  - url
                title: RefundList
                type: object
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: List all refunds
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
    post:
      operationId: PostChargesChargeRefunds
      parameters:
        - in: path
          name: charge
          required: true
          schema:
            maxLength: 5000
            type: string
            x-mockingbird-resource-ref:
              type: charge
              missing: ch_mockingbird_missing
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              properties:
                amount:
                  type: integer
                currency:
                  format: currency
                  type: string
                customer:
                  maxLength: 5000
                  type: string
                expand:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                instructions_email:
                  type: string
                metadata:
                  anyOf:
                    - additionalProperties:
                        type: string
                      type: object
                    - enum:
                        - ""
                      type: string
                origin:
                  enum:
                    - customer_balance
                  type: string
                payment_intent:
                  maxLength: 5000
                  type: string
                reason:
                  enum:
                    - duplicate
                    - fraudulent
                    - requested_by_customer
                  maxLength: 5000
                  type: string
                refund_application_fee:
                  type: boolean
                reverse_transfer:
                  type: boolean
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/refund"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: Create a refund
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
  /v1/charges/{charge}/refunds/{refund}:
    get:
      operationId: GetChargesChargeRefundsRefund
      parameters:
        - in: path
          name: charge
          required: true
          schema:
            type: string
            x-mockingbird-resource-ref:
              type: charge
              missing: ch_mockingbird_missing
          style: simple
        - explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
            x-mockingbird-unsupported:
              reason: not part of the random walk
          style: deepObject
        - in: path
          name: refund
          required: true
          schema:
            type: string
            x-mockingbird-resource-ref:
              type: refund
              missing: re_mockingbird_missing
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              properties: {}
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/refund"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
    post:
      operationId: PostChargesChargeRefundsRefund
      parameters:
        - in: path
          name: charge
          required: true
          schema:
            type: string
            x-mockingbird-resource-ref:
              type: charge
              missing: ch_mockingbird_missing
          style: simple
        - in: path
          name: refund
          required: true
          schema:
            type: string
            x-mockingbird-resource-ref:
              type: refund
              missing: re_mockingbird_missing
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              properties:
                expand:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                metadata:
                  anyOf:
                    - additionalProperties:
                        type: string
                      type: object
                    - enum:
                        - ""
                      type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/refund"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
  /v1/charges/search:
    get:
      operationId: GetChargesSearch
      parameters:
        - explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
            x-mockingbird-unsupported:
              reason: not part of the random walk
          style: deepObject
        - in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - in: query
          name: page
          required: false
          schema:
            maxLength: 5000
            type: string
            x-mockingbird-unsupported:
              reason: not part of the random walk
          style: form
        - in: query
          name: query
          required: true
          schema:
            maxLength: 5000
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              properties: {}
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/charge"
                    type: array
                  has_more:
                    type: boolean
                  next_page:
                    maxLength: 5000
                    type:
                      - string
                      - "null"
                  object:
                    enum:
                      - search_result
                    type: string
                  total_count:
                    type: integer
                  url:
                    maxLength: 5000
                    type: string
                required:
                  - data
                  - has_more
                  - object
                  - url
                title: SearchResult
                type: object
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: Search charges
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
  /v1/checkout/sessions:
    get:
      operationId: GetCheckoutSessions
      parameters:
        - explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                    x-mockingbird-scope:
                      value: walk-start-unix
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - in: query
          name: customer
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - in: query
          name: customer_account
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - explode: true
          in: query
          name: customer_details
          required: false
          schema:
            properties:
              email:
                type: string
            required:
              - email
            title: customer_details_params
            type: object
          style: deepObject
        - in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
            x-mockingbird-resource-ref:
              type: checkout_session
              missing: cs_mockingbird_missing
          style: form
        - explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
            x-mockingbird-unsupported:
              reason: not part of the random walk
          style: deepObject
        - in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - in: query
          name: payment_intent
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - in: query
          name: payment_link
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
            x-mockingbird-resource-ref:
              type: checkout_session
              missing: cs_mockingbird_missing
          style: form
        - in: query
          name: status
          required: false
          schema:
            enum:
              - complete
              - expired
              - open
            type: string
          style: form
        - in: query
          name: subscription
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              properties: {}
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/checkout.session"
                    type: array
                  has_more:
                    type: boolean
                  object:
                    enum:
                      - list
                    type: string
                  url:
                    maxLength: 5000
                    type: string
                required:
                  - data
                  - has_more
                  - object
                  - url
                title: PaymentPagesCheckoutSessionList
                type: object
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: List all Checkout Sessions
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
    post:
      operationId: PostCheckoutSessions
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              adaptive_pricing:
                explode: true
                style: deepObject
              after_expiration:
                explode: true
                style: deepObject
              automatic_tax:
                explode: true
                style: deepObject
              branding_settings:
                explode: true
                style: deepObject
              consent_collection:
                explode: true
                style: deepObject
              custom_fields:
                explode: true
                style: deepObject
              custom_text:
                explode: true
                style: deepObject
              customer_update:
                explode: true
                style: deepObject
              discounts:
                explode: true
                style: deepObject
              excluded_payment_method_types:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              invoice_creation:
                explode: true
                style: deepObject
              line_items:
                explode: true
                style: deepObject
              managed_payments:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              name_collection:
                explode: true
                style: deepObject
              optional_items:
                explode: true
                style: deepObject
              payment_intent_data:
                explode: true
                style: deepObject
              payment_method_data:
                explode: true
                style: deepObject
              payment_method_options:
                explode: true
                style: deepObject
              payment_method_types:
                explode: true
                style: deepObject
              permissions:
                explode: true
                style: deepObject
              phone_number_collection:
                explode: true
                style: deepObject
              saved_payment_method_options:
                explode: true
                style: deepObject
              setup_intent_data:
                explode: true
                style: deepObject
              shipping_address_collection:
                explode: true
                style: deepObject
              shipping_options:
                explode: true
                style: deepObject
              subscription_data:
                explode: true
                style: deepObject
              tax_id_collection:
                explode: true
                style: deepObject
              wallet_options:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              properties:
                adaptive_pricing:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                after_expiration:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                allow_promotion_codes:
                  type: boolean
                automatic_tax:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                billing_address_collection:
                  enum:
                    - auto
                    - required
                  type: string
                branding_settings:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                cancel_url:
                  type: string
                client_reference_id:
                  maxLength: 200
                  type: string
                consent_collection:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                currency:
                  format: currency
                  type: string
                custom_fields:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                custom_text:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                customer:
                  maxLength: 5000
                  type: string
                  x-mockingbird-resource-ref:
                    type: customer
                    missing: cus_mockingbird_missing
                customer_account:
                  maxLength: 5000
                  type: string
                customer_creation:
                  enum:
                    - always
                    - if_required
                  type: string
                customer_email:
                  type: string
                customer_update:
                  properties:
                    address:
                      enum:
                        - auto
                        - never
                      type: string
                    name:
                      enum:
                        - auto
                        - never
                      type: string
                    shipping:
                      enum:
                        - auto
                        - never
                      type: string
                  title: customer_update_params
                  type: object
                discounts:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                excluded_payment_method_types:
                  items:
                    enum:
                      - acss_debit
                      - affirm
                      - afterpay_clearpay
                      - alipay
                      - alma
                      - amazon_pay
                      - au_becs_debit
                      - bacs_debit
                      - bancontact
                      - billie
                      - bizum
                      - blik
                      - boleto
                      - card
                      - cashapp
                      - crypto
                      - customer_balance
                      - eps
                      - fpx
                      - giropay
                      - grabpay
                      - ideal
                      - kakao_pay
                      - klarna
                      - konbini
                      - kr_card
                      - mb_way
                      - mobilepay
                      - multibanco
                      - naver_pay
                      - nz_bank_account
                      - oxxo
                      - p24
                      - pay_by_bank
                      - payco
                      - paynow
                      - paypal
                      - payto
                      - pix
                      - promptpay
                      - revolut_pay
                      - samsung_pay
                      - satispay
                      - scalapay
                      - sepa_debit
                      - sofort
                      - sunbit
                      - swish
                      - twint
                      - upi
                      - us_bank_account
                      - wechat_pay
                      - zip
                    type: string
                  type: array
                expand:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                expires_at:
                  format: unix-time
                  type: integer
                integration_identifier:
                  maxLength: 200
                  type: string
                invoice_creation:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                line_items:
                  items:
                    properties:
                      adjustable_quantity:
                        properties:
                          enabled:
                            type: boolean
                          maximum:
                            type: integer
                          minimum:
                            type: integer
                        required:
                          - enabled
                        title: adjustable_quantity_params
                        type: object
                      metadata:
                        additionalProperties:
                          type: string
                        type: object
                      price:
                        maxLength: 5000
                        type: string
                        x-mockingbird-resource-ref:
                          type: price
                          missing: price_mockingbird_missing
                      price_data:
                        properties:
                          currency:
                            format: currency
                            type: string
                          product:
                            maxLength: 5000
                            type: string
                          product_data:
                            properties:
                              description:
                                maxLength: 40000
                                type: string
                              images:
                                items:
                                  type: string
                                type: array
                              metadata:
                                additionalProperties:
                                  type: string
                                type: object
                              name:
                                maxLength: 5000
                                type: string
                              tax_code:
                                maxLength: 5000
                                type: string
                              unit_label:
                                maxLength: 12
                                type: string
                            required:
                              - name
                            title: product_data
                            type: object
                          recurring:
                            properties:
                              interval:
                                enum:
                                  - day
                                  - month
                                  - week
                                  - year
                                type: string
                              interval_count:
                                type: integer
                            required:
                              - interval
                            title: recurring_adhoc
                            type: object
                          tax_behavior:
                            enum:
                              - exclusive
                              - inclusive
                              - unspecified
                            type: string
                          unit_amount:
                            type: integer
                          unit_amount_decimal:
                            format: decimal
                            type: string
                        required:
                          - currency
                        title: price_data_with_product_data
                        type: object
                      quantity:
                        type: integer
                      tax_rates:
                        items:
                          maxLength: 5000
                          type: string
                        type: array
                    title: line_item_params
                    type: object
                  type: array
                locale:
                  enum:
                    - auto
                    - bg
                    - cs
                    - da
                    - de
                    - el
                    - en
                    - en-GB
                    - es
                    - es-419
                    - et
                    - fi
                    - fil
                    - fr
                    - fr-CA
                    - hr
                    - hu
                    - id
                    - it
                    - ja
                    - ko
                    - lt
                    - lv
                    - ms
                    - mt
                    - nb
                    - nl
                    - pl
                    - pt
                    - pt-BR
                    - ro
                    - ru
                    - sk
                    - sl
                    - sv
                    - th
                    - tr
                    - vi
                    - zh
                    - zh-HK
                    - zh-TW
                  type: string
                managed_payments:
                  properties:
                    enabled:
                      type: boolean
                  title: managed_payments_params
                  type: object
                metadata:
                  additionalProperties:
                    type: string
                  type: object
                mode:
                  enum:
                    - payment
                    - setup
                    - subscription
                  type: string
                name_collection:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                optional_items:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                origin_context:
                  enum:
                    - mobile_app
                    - web
                  type: string
                payment_intent_data:
                  properties:
                    application_fee_amount:
                      type: integer
                    capture_method:
                      enum:
                        - automatic
                        - automatic_async
                        - manual
                      type: string
                    description:
                      maxLength: 1000
                      type: string
                    metadata:
                      additionalProperties:
                        type: string
                      type: object
                    on_behalf_of:
                      type: string
                    receipt_email:
                      type: string
                    setup_future_usage:
                      enum:
                        - off_session
                        - on_session
                      type: string
                    shipping:
                      properties:
                        address:
                          properties:
                            city:
                              maxLength: 5000
                              type: string
                            country:
                              maxLength: 5000
                              type: string
                            line1:
                              maxLength: 5000
                              type: string
                            line2:
                              maxLength: 5000
                              type: string
                            postal_code:
                              maxLength: 5000
                              type: string
                            state:
                              maxLength: 5000
                              type: string
                          required:
                            - line1
                          title: address
                          type: object
                        carrier:
                          maxLength: 5000
                          type: string
                        name:
                          maxLength: 5000
                          type: string
                        phone:
                          maxLength: 5000
                          type: string
                        tracking_number:
                          maxLength: 5000
                          type: string
                      required:
                        - address
                        - name
                      title: shipping
                      type: object
                    statement_descriptor:
                      maxLength: 22
                      type: string
                    statement_descriptor_suffix:
                      maxLength: 22
                      type: string
                    transfer_data:
                      properties:
                        amount:
                          type: integer
                        destination:
                          type: string
                      required:
                        - destination
                      title: transfer_data_params
                      type: object
                    transfer_group:
                      type: string
                  title: payment_intent_data_params
                  type: object
                payment_method_collection:
                  enum:
                    - always
                    - if_required
                  type: string
                payment_method_configuration:
                  maxLength: 100
                  type: string
                payment_method_data:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                payment_method_options:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                payment_method_types:
                  items:
                    enum:
                      - acss_debit
                      - affirm
                      - afterpay_clearpay
                      - alipay
                      - alma
                      - amazon_pay
                      - au_becs_debit
                      - bacs_debit
                      - bancontact
                      - billie
                      - bizum
                      - blik
                      - boleto
                      - card
                      - cashapp
                      - crypto
                      - customer_balance
                      - eps
                      - fpx
                      - giropay
                      - grabpay
                      - ideal
                      - kakao_pay
                      - klarna
                      - konbini
                      - kr_card
                      - link
                      - mb_way
                      - mobilepay
                      - multibanco
                      - naver_pay
                      - nz_bank_account
                      - oxxo
                      - p24
                      - pay_by_bank
                      - payco
                      - paynow
                      - paypal
                      - payto
                      - pix
                      - promptpay
                      - revolut_pay
                      - samsung_pay
                      - satispay
                      - scalapay
                      - sepa_debit
                      - sofort
                      - sunbit
                      - swish
                      - twint
                      - upi
                      - us_bank_account
                      - wechat_pay
                      - zip
                    type: string
                  type: array
                permissions:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                phone_number_collection:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                redirect_on_completion:
                  enum:
                    - always
                    - if_required
                    - never
                  type: string
                return_url:
                  type: string
                saved_payment_method_options:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                setup_intent_data:
                  properties:
                    description:
                      maxLength: 1000
                      type: string
                    metadata:
                      additionalProperties:
                        type: string
                      type: object
                    on_behalf_of:
                      type: string
                  title: setup_intent_data_param
                  type: object
                shipping_address_collection:
                  properties:
                    allowed_countries:
                      items:
                        enum:
                          - AC
                          - AD
                          - AE
                          - AF
                          - AG
                          - AI
                          - AL
                          - AM
                          - AO
                          - AQ
                          - AR
                          - AT
                          - AU
                          - AW
                          - AX
                          - AZ
                          - BA
                          - BB
                          - BD
                          - BE
                          - BF
                          - BG
                          - BH
                          - BI
                          - BJ
                          - BL
                          - BM
                          - BN
                          - BO
                          - BQ
                          - BR
                          - BS
                          - BT
                          - BV
                          - BW
                          - BY
                          - BZ
                          - CA
                          - CD
                          - CF
                          - CG
                          - CH
                          - CI
                          - CK
                          - CL
                          - CM
                          - CN
                          - CO
                          - CR
                          - CV
                          - CW
                          - CY
                          - CZ
                          - DE
                          - DJ
                          - DK
                          - DM
                          - DO
                          - DZ
                          - EC
                          - EE
                          - EG
                          - EH
                          - ER
                          - ES
                          - ET
                          - FI
                          - FJ
                          - FK
                          - FO
                          - FR
                          - GA
                          - GB
                          - GD
                          - GE
                          - GF
                          - GG
                          - GH
                          - GI
                          - GL
                          - GM
                          - GN
                          - GP
                          - GQ
                          - GR
                          - GS
                          - GT
                          - GU
                          - GW
                          - GY
                          - HK
                          - HN
                          - HR
                          - HT
                          - HU
                          - ID
                          - IE
                          - IL
                          - IM
                          - IN
                          - IO
                          - IQ
                          - IS
                          - IT
                          - JE
                          - JM
                          - JO
                          - JP
                          - KE
                          - KG
                          - KH
                          - KI
                          - KM
                          - KN
                          - KR
                          - KW
                          - KY
                          - KZ
                          - LA
                          - LB
                          - LC
                          - LI
                          - LK
                          - LR
                          - LS
                          - LT
                          - LU
                          - LV
                          - LY
                          - MA
                          - MC
                          - MD
                          - ME
                          - MF
                          - MG
                          - MK
                          - ML
                          - MM
                          - MN
                          - MO
                          - MQ
                          - MR
                          - MS
                          - MT
                          - MU
                          - MV
                          - MW
                          - MX
                          - MY
                          - MZ
                          - NA
                          - NC
                          - NE
                          - NG
                          - NI
                          - NL
                          - NO
                          - NP
                          - NR
                          - NU
                          - NZ
                          - OM
                          - PA
                          - PE
                          - PF
                          - PG
                          - PH
                          - PK
                          - PL
                          - PM
                          - PN
                          - PR
                          - PS
                          - PT
                          - PY
                          - QA
                          - RE
                          - RO
                          - RS
                          - RU
                          - RW
                          - SA
                          - SB
                          - SC
                          - SD
                          - SE
                          - SG
                          - SH
                          - SI
                          - SJ
                          - SK
                          - SL
                          - SM
                          - SN
                          - SO
                          - SR
                          - SS
                          - ST
                          - SV
                          - SX
                          - SZ
                          - TA
                          - TC
                          - TD
                          - TF
                          - TG
                          - TH
                          - TJ
                          - TK
                          - TL
                          - TM
                          - TN
                          - TO
                          - TR
                          - TT
                          - TV
                          - TW
                          - TZ
                          - UA
                          - UG
                          - US
                          - UY
                          - UZ
                          - VA
                          - VC
                          - VE
                          - VG
                          - VN
                          - VU
                          - WF
                          - WS
                          - XK
                          - YE
                          - YT
                          - ZA
                          - ZM
                          - ZW
                          - ZZ
                        type: string
                      type: array
                  required:
                    - allowed_countries
                  title: shipping_address_collection_params
                  type: object
                shipping_options:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                submit_type:
                  enum:
                    - auto
                    - book
                    - donate
                    - pay
                    - subscribe
                  type: string
                subscription_data:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                success_url:
                  type: string
                tax_id_collection:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                ui_mode:
                  enum:
                    - elements
                    - embedded_page
                    - hosted_page
                  type: string
                wallet_options:
                  properties:
                    link:
                      properties:
                        display:
                          enum:
                            - auto
                            - never
                          type: string
                      title: wallet_options_param
                      type: object
                  title: wallet_options_param
                  type: object
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checkout.session"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: Create a Checkout Session
      parameters: []
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
  /v1/checkout/sessions/{session}:
    get:
      operationId: GetCheckoutSessionsSession
      parameters:
        - explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
            x-mockingbird-unsupported:
              reason: not part of the random walk
          style: deepObject
        - in: path
          name: session
          required: true
          schema:
            maxLength: 66
            type: string
            x-mockingbird-resource-ref:
              type: checkout_session
              missing: cs_mockingbird_missing
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              properties: {}
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checkout.session"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: Retrieve a Checkout Session
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
    post:
      operationId: PostCheckoutSessionsSession
      parameters:
        - in: path
          name: session
          required: true
          schema:
            maxLength: 5000
            type: string
            x-mockingbird-resource-ref:
              type: checkout_session
              missing: cs_mockingbird_missing
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              collected_information:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              line_items:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              shipping_options:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              properties:
                collected_information:
                  properties:
                    shipping_details:
                      properties:
                        address:
                          properties:
                            city:
                              maxLength: 5000
                              type: string
                            country:
                              maxLength: 5000
                              type: string
                            line1:
                              maxLength: 5000
                              type: string
                            line2:
                              maxLength: 5000
                              type: string
                            postal_code:
                              maxLength: 5000
                              type: string
                            state:
                              maxLength: 5000
                              type: string
                          required:
                            - country
                            - line1
                          title: shipping_address
                          type: object
                        name:
                          maxLength: 255
                          type: string
                      required:
                        - address
                        - name
                      title: shipping_details_params
                      type: object
                  title: collected_information_params
                  type: object
                expand:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
                line_items:
                  items:
                    properties:
                      adjustable_quantity:
                        properties:
                          enabled:
                            type: boolean
                          maximum:
                            type: integer
                          minimum:
                            type: integer
                        required:
                          - enabled
                        title: adjustable_quantity_params
                        type: object
                      id:
                        maxLength: 5000
                        type: string
                      metadata:
                        anyOf:
                          - additionalProperties:
                              type: string
                            type: object
                          - enum:
                              - ""
                            type: string
                      price:
                        maxLength: 5000
                        type: string
                      price_data:
                        properties:
                          currency:
                            format: currency
                            type: string
                          product:
                            maxLength: 5000
                            type: string
                          product_data:
                            properties:
                              description:
                                maxLength: 40000
                                type: string
                              images:
                                items:
                                  type: string
                                type: array
                              metadata:
                                additionalProperties:
                                  type: string
                                type: object
                              name:
                                maxLength: 5000
                                type: string
                              tax_code:
                                maxLength: 5000
                                type: string
                              unit_label:
                                maxLength: 12
                                type: string
                            required:
                              - name
                            title: product_data
                            type: object
                          recurring:
                            properties:
                              interval:
                                enum:
                                  - day
                                  - month
                                  - week
                                  - year
                                type: string
                              interval_count:
                                type: integer
                            required:
                              - interval
                            title: recurring_adhoc
                            type: object
                          tax_behavior:
                            enum:
                              - exclusive
                              - inclusive
                              - unspecified
                            type: string
                          unit_amount:
                            type: integer
                          unit_amount_decimal:
                            format: decimal
                            type: string
                        required:
                          - currency
                        title: price_data_with_product_data
                        type: object
                      quantity:
                        type: integer
                      tax_rates:
                        anyOf:
                          - items:
                              maxLength: 5000
                              type: string
                            type: array
                          - enum:
                              - ""
                            type: string
                    title: line_item_params
                    type: object
                  type: array
                metadata:
                  anyOf:
                    - additionalProperties:
                        type: string
                      type: object
                    - enum:
                        - ""
                      type: string
                shipping_options:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checkout.session"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: Update a Checkout Session
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
  /v1/checkout/sessions/{session}/expire:
    post:
      operationId: PostCheckoutSessionsSessionExpire
      parameters:
        - in: path
          name: session
          required: true
          schema:
            maxLength: 5000
            type: string
            x-mockingbird-resource-ref:
              type: checkout_session
              missing: cs_mockingbird_missing
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              properties:
                expand:
                  type: object
                  additionalProperties: true
                  x-mockingbird-unsupported:
                    reason: not part of the random walk
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checkout.session"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          headers:
            content-type:
              schema:
                type: string
                enum:
                  - application/json
              x-mockingbird-parity-header: true
      summary: Expire a Checkout Session
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
  /v1/checkout/sessions/{session}/line_items:
    get:
      operationId: GetCheckoutSessionsSessionLineItems
      parameters:
        - in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
            x-mockingbird-unsupported:
              reason: not part of the random walk
          style: deepObject
[...]
