openapi: 3.1.0
info:
  title: Amazon Polly + Amazon Transcribe (Mockingbird subset)
  description: |
    The speech surface our consumer calls: Polly `SynthesizeSpeech` and
    `StartSpeechSynthesisStream` (HTTP/2 duplex event stream), Transcribe Streaming
    `StartStreamTranscription` (HTTP/2 duplex, parameters in `x-amzn-transcribe-*` headers),
    and Transcribe batch `StartTranscriptionJob` / `GetTranscriptionJob` (AWS JSON 1.1 on
    `POST /`, selected by `X-Amz-Target`). Hand-trimmed from the Smithy models behind
    `@aws-sdk/client-polly`, `@aws-sdk/client-transcribe-streaming` and
    `@aws-sdk/client-transcribe` 3.1132.0.
  version: "2016-06-10"
  x-mockingbird-upstream:
    note: >-
      Polly and Transcribe Streaming are restJson1 (errors in `x-amzn-ErrorType` + `{"message"}`);
      Transcribe batch is awsJson1_1 (errors as `{"__type", "Message"}`). One mock serves all
      three hosts (`AWS_ENDPOINT_URL_POLLY`, `AWS_ENDPOINT_URL_TRANSCRIBE_STREAMING`,
      `AWS_ENDPOINT_URL_TRANSCRIBE`) because their paths do not collide.
servers:
  - url: https://polly.us-east-1.amazonaws.com
security:
  - sigv4: []
paths:
  /v1/speech:
    post:
      operationId: SynthesizeSpeech
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SynthesizeSpeechInput"
      responses:
        "200":
          description: The audio (`audio/pcm` raw s16le mono, or `audio/mpeg`), with `x-amzn-RequestCharacters`.
          headers:
            x-amzn-RequestCharacters:
              schema:
                type: integer
          content:
            audio/pcm:
              schema:
                type: string
                format: binary
            audio/mpeg:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
        "500":
          $ref: "#/components/responses/Error"
  /v1/synthesisStream:
    post:
      operationId: StartSpeechSynthesisStream
      description: >-
        HTTP/2 duplex. Parameters in `x-amzn-Engine`, `x-amzn-VoiceId`, `x-amzn-OutputFormat`,
        `x-amzn-SampleRate`; the request body streams `TextEvent` / `CloseStreamEvent`, the
        response streams `AudioEvent` then `StreamClosedEvent` (or an exception event).
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          reason: A duplex HTTP/2 session driven by the SDK's event stream; random bodies cannot drive it.
      requestBody:
        required: true
        content:
          application/vnd.amazon.eventstream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Event stream of AudioEvent, StreamClosedEvent and exception events.
          content:
            application/vnd.amazon.eventstream:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
        "500":
          $ref: "#/components/responses/Error"
  /stream-transcription:
    post:
      operationId: StartStreamTranscription
      description: >-
        HTTP/2 duplex (Transcribe Streaming). Parameters in `x-amzn-transcribe-*` headers; the
        request body streams `AudioEvent`s, the response streams `TranscriptEvent`s: scripted
        partials as audio arrives, then the final result when the audio ends.
      x-mockingbird:
        supported: true
        parity:
          enabled: false
          reason: A duplex HTTP/2 session driven by the SDK's event stream; random bodies cannot drive it.
      requestBody:
        required: true
        content:
          application/vnd.amazon.eventstream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Event stream of TranscriptEvent and exception events.
          content:
            application/vnd.amazon.eventstream:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
        "500":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
  /:
    post:
      operationId: TranscribeJsonRpc
      description: >-
        Transcribe batch (AWS JSON 1.1): `X-Amz-Target: Transcribe.StartTranscriptionJob` or
        `Transcribe.GetTranscriptionJob`. Other targets answer `UnknownOperationException`.
        Unsafe for live runs: StartTranscriptionJob starts a billed job on real media.
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - Transcribe.StartTranscriptionJob
              - Transcribe.GetTranscriptionJob
      requestBody:
        required: true
        description: The SDK sends `application/x-amz-json-1.1`; plain JSON is accepted too.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TranscriptionJobRequest"
      responses:
        "200":
          description: "`{TranscriptionJob}`"
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: "#/components/schemas/TranscriptionJobResponse"
        "400":
          description: BadRequestException, ConflictException, LimitExceededException or a validation error.
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: "#/components/schemas/JsonError"
        "500":
          description: InternalFailureException.
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: "#/components/schemas/JsonError"
components:
  securitySchemes:
    sigv4:
      type: apiKey
      in: header
      name: Authorization
      description: AWS SigV4 (services `polly`, `transcribe`). Accepted without verification; the access key id selects a namespace.
  responses:
    Error:
      description: A restJson1 error (type in `x-amzn-ErrorType`).
      headers:
        x-amzn-ErrorType:
          schema:
            type: string
      content:
        application/json:
          schema:
            type: object
            required: [message]
            properties:
              message:
                type: string
                x-mockingbird-volatile:
                  kind: opaque
  schemas:
    SynthesizeSpeechInput:
      type: object
      required: [OutputFormat, Text, VoiceId]
      properties:
        Engine:
          type: string
          enum: [standard, neural, long-form, generative]
        OutputFormat:
          type: string
          enum: [pcm, mp3, ogg_vorbis, ogg_opus, mulaw, alaw, json]
        SampleRate:
          type: string
          enum: ["8000", "16000", "22050", "24000"]
        Text:
          type: string
          minLength: 1
          maxLength: 6000
        TextType:
          type: string
          enum: [text, ssml]
        VoiceId:
          description: Any Polly voice is accepted; the enum only steers generated requests.
          type: string
          enum: [Danielle, Joanna, Matthew, Ruth, Salli, Stephen, Tiffany, Joey, Justin, Kendra, Kimberly, Ivy, Kevin, Gregory, Amy, Brian, Emma, Olivia]
        LanguageCode:
          type: string
        LexiconNames:
          type: array
          items:
            type: string
        SpeechMarkTypes:
          type: array
          items:
            type: string
            enum: [sentence, ssml, viseme, word]
    TranscriptionJobRequest:
      type: object
      required: [TranscriptionJobName]
      properties:
        TranscriptionJobName:
          type: string
          pattern: "^[0-9a-zA-Z._-]{1,200}$"
        LanguageCode:
          type: string
          enum: [en-US, en-GB, es-US]
        MediaFormat:
          type: string
          enum: [mp3, mp4, wav, flac, ogg, amr, webm, m4a]
        MediaSampleRateHertz:
          type: integer
          minimum: 8000
          maximum: 48000
        Media:
          type: object
          properties:
            MediaFileUri:
              type: string
              pattern: "^s3://[a-z0-9.-]{3,63}/[a-zA-Z0-9/_.-]{1,200}$"
        OutputBucketName:
          type: string
          pattern: "^[a-z0-9][a-z0-9.-]{1,61}[a-z0-9]$"
        OutputKey:
          type: string
          pattern: "^[a-zA-Z0-9/_.!*'()-]{1,200}$"
        Settings:
          type: object
          properties:
            ChannelIdentification:
              type: boolean
            ShowSpeakerLabels:
              type: boolean
            MaxSpeakerLabels:
              type: integer
              minimum: 2
              maximum: 30
            VocabularyName:
              type: string
    TranscriptionJob:
      type: object
      required: [TranscriptionJobName, TranscriptionJobStatus]
      properties:
        TranscriptionJobName:
          type: string
        TranscriptionJobStatus:
          type: string
          enum: [QUEUED, IN_PROGRESS, FAILED, COMPLETED]
        LanguageCode:
          type: string
        MediaFormat:
          type: string
        Media:
          type: object
        Settings:
          type: object
        StartTime:
          type: number
          x-mockingbird-volatile:
            kind: timestamp
        CreationTime:
          type: number
          x-mockingbird-volatile:
            kind: timestamp
        CompletionTime:
          type: number
          x-mockingbird-volatile:
            kind: timestamp
        FailureReason:
          type: string
        Transcript:
          type: object
          properties:
            TranscriptFileUri:
              type: string
              x-mockingbird-volatile:
                kind: url
    TranscriptionJobResponse:
      type: object
      required: [TranscriptionJob]
      properties:
        TranscriptionJob:
          $ref: "#/components/schemas/TranscriptionJob"
    JsonError:
      type: object
      required: [__type]
      properties:
        __type:
          type: string
        Message:
          type: string
          x-mockingbird-volatile:
            kind: opaque
        message:
          type: string
          x-mockingbird-volatile:
            kind: opaque
