openapi: 3.1.0
info:
  title: Amazon S3 (Mockingbird subset)
  version: "2006-03-01"
  description: Path-style S3 REST contract used by AWS SDK v3.
servers:
  - url: https://s3.us-east-1.amazonaws.com
paths:
  /{bucket}:
    parameters:
      - { name: bucket, in: path, required: true, schema: { type: string } }
    put:
      operationId: CreateBucket
      x-mockingbird: { supported: true, parity: { safe: false } }
      responses: { "200": { description: Created }, "400": { $ref: "#/components/responses/Error" }, "403": { $ref: "#/components/responses/Error" } }
    head:
      operationId: HeadBucket
      responses: { "200": { description: Exists }, "404": { description: Missing } }
    get:
      operationId: ListObjectsV2
      responses:
        "200": { description: XML listing, content: { application/xml: { schema: { type: string } } } }
        "404": { $ref: "#/components/responses/Error" }
    post:
      operationId: BucketPost
      x-mockingbird: { supported: true, parity: { safe: false } }
      responses: { "200": { description: DeleteObjects result, content: { application/xml: { schema: { type: string } } } }, "404": { $ref: "#/components/responses/Error" } }
  /{bucket}/{key}:
    parameters:
      - { name: bucket, in: path, required: true, schema: { type: string } }
      - { name: key, in: path, required: true, schema: { type: string } }
    put:
      operationId: PutObject
      x-mockingbird: { supported: true, parity: { safe: false } }
      requestBody: { content: { application/octet-stream: { schema: { type: string, format: binary } } } }
      responses: { "200": { description: Stored }, "400": { $ref: "#/components/responses/Error" }, "403": { $ref: "#/components/responses/Error" }, "404": { $ref: "#/components/responses/Error" } }
    get:
      operationId: GetObject
      responses: { "200": { description: Object bytes, content: { application/octet-stream: { schema: { type: string, format: binary } } } }, "206": { description: Range bytes }, "403": { $ref: "#/components/responses/Error" }, "404": { $ref: "#/components/responses/Error" }, "416": { $ref: "#/components/responses/Error" } }
    head:
      operationId: HeadObject
      responses: { "200": { description: Object metadata }, "404": { description: Missing } }
    delete:
      operationId: DeleteObject
      x-mockingbird: { supported: true, parity: { safe: false } }
      responses: { "204": { description: Deleted }, "403": { $ref: "#/components/responses/Error" } }
    post:
      operationId: MultipartPost
      x-mockingbird: { supported: true, parity: { enabled: false, reason: Multipart XML protocol. } }
      responses: { "200": { description: Multipart response, content: { application/xml: { schema: { type: string } } } }, "404": { $ref: "#/components/responses/Error" } }
components:
  responses:
    Error:
      description: Canonical S3 XML error.
      content: { application/xml: { schema: { type: string } } }
