openapi: 3.1.0
info:
  title: Slack incoming webhooks and Web API (Mockingbird subset)
  description: |
    Stateful mock subset of Slack: incoming webhooks (`POST /services/T/B/X`) and the Web API
    methods our apps call. Every message lands in an outbox a suite can assert on. Hand-authored
    from Slack's documented wire shapes and the consumers (backend `postSlackWebhook`, EMR
    `slack-web-api.ts`, request-intake `SlackClient`, release-conductor).
  version: '1'
  x-mockingbird-upstream:
    note: Hand-authored from https://api.slack.com/methods and https://api.slack.com/messaging/webhooks
      (Slack publishes no maintained OpenAPI for these methods).
servers:
- url: https://slack.com
- url: https://hooks.slack.com
security:
- bearerAuth: []
paths:
  /services/{team}/{bot}/{secret}:
    parameters:
    - name: team
      in: path
      required: true
      schema:
        type: string
        pattern: ^T[A-Z0-9]{2,12}$
    - name: bot
      in: path
      required: true
      schema:
        type: string
        pattern: ^B[A-Z0-9]{2,12}$
    - name: secret
      in: path
      required: true
      schema:
        type: string
        pattern: ^[A-Za-z0-9]{8,24}$
    post:
      operationId: PostIncomingWebhook
      summary: 'Incoming webhook: post a message to the hook''s channel'
      description: Answers `200 ok` (text/plain). Bad payloads get Slack's plain-text error codes (`invalid_payload`,
        `no_text`, `invalid_blocks`); an unregistered hook is `404 no_service` once any hook is registered.
        Also accepts form bodies with a `payload=<json>` field.
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  maxLength: 400
                blocks:
                  type: array
                  maxItems: 3
                  items:
                    type: object
                    required:
                    - type
                    properties:
                      type:
                        type: string
                        enum:
                        - section
                        - divider
                        - header
                        - context
                      text:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - mrkdwn
                            - plain_text
                          text:
                            type: string
                            maxLength: 200
                thread_ts:
                  type: string
                  maxLength: 24
                username:
                  type: string
                  maxLength: 40
                icon_emoji:
                  type: string
                  maxLength: 40
                unfurl_links:
                  type: boolean
      responses:
        '200':
          description: Posted
          content:
            text/plain:
              schema:
                type: string
                enum:
                - ok
        '400':
          description: '`invalid_payload`, `no_text`, `invalid_blocks`, `too_many_attachments`'
          content:
            text/plain:
              schema:
                type: string
        '403':
          description: '`action_prohibited`, `posting_to_general_channel_denied`'
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: '`no_service`, `channel_not_found`'
          content:
            text/plain:
              schema:
                type: string
        '410':
          description: '`channel_is_archived`'
          content:
            text/plain:
              schema:
                type: string
        '429':
          description: '`rate_limited`, with `retry-after`'
          headers:
            retry-after:
              schema:
                type: string
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: '`internal_error`'
          content:
            text/plain:
              schema:
                type: string
        '503':
          description: '`service_unavailable`'
          content:
            text/plain:
              schema:
                type: string
      security: []
  /api/chat.postMessage:
    post:
      operationId: ChatPostMessage
      summary: 'chat.postMessage: post a message (or a thread reply) to a channel'
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
                text:
                  type: string
                  maxLength: 400
                blocks:
                  type: string
                  description: JSON-encoded blocks
                  maxLength: 2000
                thread_ts:
                  type: string
                  maxLength: 24
                  x-mockingbird-resource-ref:
                    type: message
                    missing: '1000000000.000000'
              required:
              - channel
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
                text:
                  type: string
                  maxLength: 400
                blocks:
                  type: array
                  maxItems: 3
                  items:
                    type: object
                    required:
                    - type
                    properties:
                      type:
                        type: string
                        enum:
                        - section
                        - divider
                        - header
                        - context
                      text:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - mrkdwn
                            - plain_text
                          text:
                            type: string
                            maxLength: 200
                thread_ts:
                  type: string
                  maxLength: 24
                  x-mockingbird-resource-ref:
                    type: message
                    missing: '1000000000.000000'
                mrkdwn:
                  type: boolean
                unfurl_links:
                  type: boolean
              required:
              - channel
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMessageResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/chat.update:
    post:
      operationId: ChatUpdate
      summary: 'chat.update: edit a message the bot posted'
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
                ts:
                  type: string
                  maxLength: 24
                  x-mockingbird-resource-ref:
                    type: message
                    missing: '1000000000.000000'
                text:
                  type: string
                  maxLength: 400
              required:
              - channel
              - ts
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
                ts:
                  type: string
                  maxLength: 24
                  x-mockingbird-resource-ref:
                    type: message
                    missing: '1000000000.000000'
                text:
                  type: string
                  maxLength: 400
                blocks:
                  type: array
                  maxItems: 3
                  items:
                    type: object
                    required:
                    - type
                    properties:
                      type:
                        type: string
                        enum:
                        - section
                        - divider
                        - header
                        - context
                      text:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - mrkdwn
                            - plain_text
                          text:
                            type: string
                            maxLength: 200
              required:
              - channel
              - ts
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/chat.postEphemeral:
    post:
      operationId: ChatPostEphemeral
      summary: 'chat.postEphemeral: a message only one user sees'
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
                user:
                  type: string
                  minLength: 1
                  maxLength: 20
                  x-mockingbird-resource-ref:
                    type: user
                    missing: U00MISSING
                text:
                  type: string
                  maxLength: 400
              required:
              - channel
              - user
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
                user:
                  type: string
                  minLength: 1
                  maxLength: 20
                  x-mockingbird-resource-ref:
                    type: user
                    missing: U00MISSING
                text:
                  type: string
                  maxLength: 400
                blocks:
                  type: array
                  maxItems: 3
                  items:
                    type: object
                    required:
                    - type
                    properties:
                      type:
                        type: string
                        enum:
                        - section
                        - divider
                        - header
                        - context
                      text:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - mrkdwn
                            - plain_text
                          text:
                            type: string
                            maxLength: 200
                thread_ts:
                  type: string
                  maxLength: 24
                  x-mockingbird-resource-ref:
                    type: message
                    missing: '1000000000.000000'
              required:
              - channel
              - user
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EphemeralResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/chat.getPermalink:
    get:
      operationId: ChatGetPermalinkGet
      summary: chat.getPermalink (query arguments)
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
      - name: channel
        in: query
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 40
          description: Channel id (`C…`) or name (`#alerts`)
      - name: message_ts
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          x-mockingbird-resource-ref:
            type: message
            missing: '1000000000.000000'
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermalinkResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    post:
      operationId: ChatGetPermalink
      summary: 'chat.getPermalink: the permalink of a message'
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
                message_ts:
                  type: string
                  maxLength: 24
                  x-mockingbird-resource-ref:
                    type: message
                    missing: '1000000000.000000'
              required:
              - channel
              - message_ts
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
                message_ts:
                  type: string
                  maxLength: 24
                  x-mockingbird-resource-ref:
                    type: message
                    missing: '1000000000.000000'
              required:
              - channel
              - message_ts
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermalinkResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/reactions.add:
    post:
      operationId: ReactionsAdd
      summary: 'reactions.add: react to a message'
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
                timestamp:
                  type: string
                  maxLength: 24
                  x-mockingbird-resource-ref:
                    type: message
                    missing: '1000000000.000000'
                name:
                  type: string
                  enum:
                  - eyes
                  - white_check_mark
                  - x
                  - thumbsup
                  - rotating_light
              required:
              - channel
              - timestamp
              - name
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
                timestamp:
                  type: string
                  maxLength: 24
                  x-mockingbird-resource-ref:
                    type: message
                    missing: '1000000000.000000'
                name:
                  type: string
                  enum:
                  - eyes
                  - white_check_mark
                  - x
                  - thumbsup
                  - rotating_light
              required:
              - channel
              - timestamp
              - name
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/reactions.remove:
    post:
      operationId: ReactionsRemove
      summary: 'reactions.remove: take a reaction back'
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
                timestamp:
                  type: string
                  maxLength: 24
                  x-mockingbird-resource-ref:
                    type: message
                    missing: '1000000000.000000'
                name:
                  type: string
                  enum:
                  - eyes
                  - white_check_mark
                  - x
                  - thumbsup
                  - rotating_light
              required:
              - name
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
                timestamp:
                  type: string
                  maxLength: 24
                  x-mockingbird-resource-ref:
                    type: message
                    missing: '1000000000.000000'
                name:
                  type: string
                  enum:
                  - eyes
                  - white_check_mark
                  - x
                  - thumbsup
                  - rotating_light
              required:
              - name
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/reactions.get:
    get:
      operationId: ReactionsGetGet
      summary: reactions.get (query arguments)
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
      - name: channel
        in: query
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 40
          description: Channel id (`C…`) or name (`#alerts`)
      - name: timestamp
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          x-mockingbird-resource-ref:
            type: message
            missing: '1000000000.000000'
      - name: full
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactionsGetResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    post:
      operationId: ReactionsGet
      summary: 'reactions.get: a message and its reactions'
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
                timestamp:
                  type: string
                  maxLength: 24
                  x-mockingbird-resource-ref:
                    type: message
                    missing: '1000000000.000000'
                full:
                  type: string
                  enum:
                  - 'true'
                  - 'false'
              required:
              - channel
              - timestamp
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
                timestamp:
                  type: string
                  maxLength: 24
                  x-mockingbird-resource-ref:
                    type: message
                    missing: '1000000000.000000'
                full:
                  type: boolean
              required:
              - channel
              - timestamp
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactionsGetResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/auth.test:
    get:
      operationId: AuthTestGet
      summary: auth.test (GET)
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters: []
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTestResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    post:
      operationId: AuthTest
      summary: 'auth.test: who the token belongs to'
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties: {}
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTestResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/conversations.join:
    post:
      operationId: ConversationsJoin
      summary: 'conversations.join: the bot joins a public channel'
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
              required:
              - channel
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Channel id (`C…`) or name (`#alerts`)
              required:
              - channel
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/users.info:
    get:
      operationId: UsersInfoGet
      summary: users.info (query arguments)
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
      - name: user
        in: query
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 20
          x-mockingbird-resource-ref:
            type: user
            missing: U00MISSING
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    post:
      operationId: UsersInfo
      summary: 'users.info: a user''s profile'
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user:
                  type: string
                  minLength: 1
                  maxLength: 20
                  x-mockingbird-resource-ref:
                    type: user
                    missing: U00MISSING
              required:
              - user
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: string
                  minLength: 1
                  maxLength: 20
                  x-mockingbird-resource-ref:
                    type: user
                    missing: U00MISSING
              required:
              - user
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/users.lookupByEmail:
    get:
      operationId: UsersLookupByEmailGet
      summary: users.lookupByEmail (query arguments)
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
      - name: email
        in: query
        required: false
        schema:
          type: string
          format: email
          maxLength: 80
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    post:
      operationId: UsersLookupByEmail
      summary: 'users.lookupByEmail: find a user by email'
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 80
              required:
              - email
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 80
              required:
              - email
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/files.info:
    get:
      operationId: FilesInfoGet
      summary: files.info (query arguments)
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
      - name: file
        in: query
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 20
          x-mockingbird-resource-ref:
            type: file
            missing: F00MISSING
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    post:
      operationId: FilesInfo
      summary: 'files.info: a file''s metadata and private download URL'
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  type: string
                  minLength: 1
                  maxLength: 20
                  x-mockingbird-resource-ref:
                    type: file
                    missing: F00MISSING
              required:
              - file
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  minLength: 1
                  maxLength: 20
                  x-mockingbird-resource-ref:
                    type: file
                    missing: F00MISSING
              required:
              - file
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/views.open:
    post:
      operationId: ViewsOpen
      summary: 'views.open: open a modal for a trigger'
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                trigger_id:
                  type: string
                  minLength: 1
                  maxLength: 40
                view:
                  type: string
                  description: JSON-encoded view
                  maxLength: 2000
              required:
              - trigger_id
              - view
          application/json:
            schema:
              type: object
              properties:
                trigger_id:
                  type: string
                  minLength: 1
                  maxLength: 40
                view:
                  type: object
                  required:
                  - type
                  properties:
                    type:
                      type: string
                      enum:
                      - modal
                      - home
                    callback_id:
                      type: string
                      maxLength: 40
                    title:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - plain_text
                        text:
                          type: string
                          maxLength: 24
                    blocks:
                      type: array
                      maxItems: 3
                      items:
                        type: object
                    private_metadata:
                      type: string
                      maxLength: 200
              required:
              - trigger_id
              - view
      responses:
        '200':
          description: 'Slack envelope: `ok: true` with the method''s fields, or `ok: false` with an `error`
            code (Slack answers logical failures with HTTP 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewResponse'
        '429':
          description: Rate limited (`ratelimited`), with `retry-after` seconds
          headers:
            retry-after:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          description: Slack is having trouble
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Slack is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Envelope:
      type: object
      required:
      - ok
      properties:
        ok:
          type: boolean
        error:
          type: string
        warning:
          type: string
        needed:
          type: string
        provided:
          type: string
        response_metadata:
          type: object
          properties:
            messages:
              type: array
              items:
                type: string
            warnings:
              type: array
              items:
                type: string
    ErrorEnvelope:
      type: object
      required:
      - ok
      - error
      properties:
        ok:
          type: boolean
          enum:
          - false
        error:
          type: string
    Message:
      type: object
      required:
      - type
      - ts
      properties:
        type:
          type: string
          enum:
          - message
        subtype:
          type: string
        text:
          type: string
        user:
          type: string
        bot_id:
          type: string
        app_id:
          type: string
        team:
          type: string
        ts:
          type: string
          x-mockingbird-volatile:
            kind: id
        thread_ts:
          type: string
          x-mockingbird-volatile:
            kind: id
        blocks:
          type: array
          items:
            type: object
        edited:
          type: object
          properties:
            user:
              type: string
            ts:
              type: string
              x-mockingbird-volatile:
                kind: id
        reactions:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              count:
                type: integer
              users:
                type: array
                items:
                  type: string
    PostMessageResponse:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          channel:
            type: string
          ts:
            type: string
            x-mockingbird-resource:
              type: message
              identity: true
            x-mockingbird-volatile:
              kind: id
          message:
            $ref: '#/components/schemas/Message'
    ReactionsGetResponse:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          type:
            type: string
            enum:
            - message
          channel:
            type: string
          message:
            $ref: '#/components/schemas/Message'
    UpdateResponse:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          channel:
            type: string
          ts:
            type: string
            x-mockingbird-volatile:
              kind: id
          text:
            type: string
          message:
            $ref: '#/components/schemas/Message'
    EphemeralResponse:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          message_ts:
            type: string
            x-mockingbird-volatile:
              kind: id
    PermalinkResponse:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          channel:
            type: string
          permalink:
            type: string
            x-mockingbird-volatile:
              kind: url
    AuthTestResponse:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          url:
            type: string
          team:
            type: string
          user:
            type: string
          team_id:
            type: string
          user_id:
            type: string
          bot_id:
            type: string
          is_enterprise_install:
            type: boolean
    Channel:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
        name:
          type: string
        is_channel:
          type: boolean
        is_private:
          type: boolean
        is_archived:
          type: boolean
        is_member:
          type: boolean
        created:
          type: integer
    JoinResponse:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          channel:
            $ref: '#/components/schemas/Channel'
    User:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          x-mockingbird-resource:
            type: user
            identity: true
        team_id:
          type: string
        name:
          type: string
        real_name:
          type: string
        deleted:
          type: boolean
        is_bot:
          type: boolean
        tz:
          type: string
        profile:
          type: object
          properties:
            email:
              type: string
            real_name:
              type: string
            display_name:
              type: string
    UserResponse:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          user:
            $ref: '#/components/schemas/User'
    File:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          x-mockingbird-resource:
            type: file
            identity: true
        name:
          type: string
        title:
          type: string
        mimetype:
          type: string
        filetype:
          type: string
        size:
          type: integer
        created:
          type: integer
        url_private:
          type: string
        url_private_download:
          type: string
        permalink:
          type: string
    FileResponse:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          file:
            $ref: '#/components/schemas/File'
    ViewResponse:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          view:
            type: object
            properties:
              id:
                type: string
                x-mockingbird-volatile:
                  kind: id
              type:
                type: string
              team_id:
                type: string
              callback_id:
                type: string
              hash:
                type: string
                x-mockingbird-volatile:
                  kind: opaque
              blocks:
                type: array
                items:
                  type: object
              state:
                type: object
              private_metadata:
                type: string
              title:
                type: object
              app_id:
                type: string
              bot_id:
                type: string
