openapi: 3.1.0
info:
  title: Twilio Verify, Lookup, Messaging and Recordings (Mockingbird subset)
  description: |
    Stateful mock subset of Twilio, served on one port. Each product keeps its own host upstream
    (api.twilio.com, verify.twilio.com, lookups.twilio.com); the mock routes by that host carried
    as a path prefix (`/api/…`, `/verify/…`, `/lookups/…`), which is what a custom twilio-node
    `httpClient` produces when it rewrites `https://<product>.twilio.com/<path>` to
    `{mock}/<product>/<path>`. Hand-authored from Twilio's published API reference, trimmed to
    what our consumer calls, and checked against live Lookup v2 responses.
  version: "2010-04-01"
  x-mockingbird-upstream:
    note: >-
      Trimmed from Twilio's public API reference (twilio-oai) to the operations our consumer
      calls (twilio.service.ts, twilio-conversation-sms.adapter.ts,
      notification-dispatcher channels/sms.ts, twilio-recording-http.adapter.ts); Lookup v2
      shapes verified against the live API.
servers:
  - url: https://api.twilio.com
    description: Every product on one origin, routed by the /api, /verify or /lookups prefix.
security:
  - basicAuth: []
paths:
  /lookups/v2/PhoneNumbers/{PhoneNumber}:
    parameters:
      - name: PhoneNumber
        in: path
        required: true
        description: E.164 (`+12025550123`) or national format; formatting characters are ignored.
        schema:
          type: string
          minLength: 1
          maxLength: 24
          pattern: "^[+]?[0-9 ()-]{1,20}$"
          examples: ["+12025550123", "+13105550142", "2025550199", "+15550100", "+442079460123"]
      - name: CountryCode
        in: query
        required: false
        description: ISO-3166 alpha-2 region used to parse a national-format number.
        schema:
          type: string
          enum: [US, CA, GB]
      - name: Fields
        in: query
        required: false
        description: Paid data packages (line_type_intelligence, caller_name, …); the mock answers null for every package.
        schema:
          type: string
          x-mockingbird-unsupported:
            reason: Data packages cost money upstream and our consumer never requests them.
    get:
      operationId: FetchPhoneNumber
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Lookup result (also for invalid numbers, with `valid:false` and `validation_errors`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhoneNumber"
        "401":
          description: Bad credentials (code 20003)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /verify/v2/Services/{ServiceSid}/Verifications:
    parameters:
      - $ref: "#/components/parameters/ServiceSid"
    post:
      operationId: CreateVerification
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [To, Channel]
              properties:
                To:
                  type: string
                  description: E.164 phone number (or an email address for Channel=email).
                  pattern: "^[+][1-9][0-9]{7,14}$"
                  examples: ["+12025550123", "+13105550142", "+14155550100"]
                Channel:
                  type: string
                  enum: [sms, call, email, whatsapp, sna, auto]
                CustomCode:
                  type: string
                  pattern: "^[0-9]{4,10}$"
                Locale:
                  type: string
                  maxLength: 10
      responses:
        "201":
          description: Verification started (or the pending one re-sent)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Verification"
        "400":
          description: Invalid parameter (code 60200)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Bad credentials (code 20003)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Unknown Verify service (code 20404)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Max send attempts reached (code 60203)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /verify/v2/Services/{ServiceSid}/Verifications/{Sid}:
    parameters:
      - $ref: "#/components/parameters/ServiceSid"
      - name: Sid
        in: path
        required: true
        description: The verification sid (`VE…`).
        schema:
          type: string
          x-mockingbird-resource-ref:
            type: verification
            missing: VE00000000000000000000000000000000
    get:
      operationId: FetchVerification
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: The verification
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Verification"
        "401":
          description: Bad credentials (code 20003)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Unknown or expired verification (code 20404)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: UpdateVerification
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [Status]
              properties:
                Status:
                  type: string
                  enum: [canceled, approved]
      responses:
        "200":
          description: The updated verification
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Verification"
        "400":
          description: Invalid parameter (code 60200)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Bad credentials (code 20003)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Unknown, expired or no longer pending verification (code 20404)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /verify/v2/Services/{ServiceSid}/VerificationCheck:
    parameters:
      - $ref: "#/components/parameters/ServiceSid"
    post:
      operationId: CreateVerificationCheck
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [Code]
              properties:
                Code:
                  type: string
                  pattern: "^[0-9]{4,10}$"
                  examples: ["000000", "123456"]
                To:
                  type: string
                  pattern: "^[+][1-9][0-9]{7,14}$"
                  examples: ["+12025550123", "+13105550142"]
                VerificationSid:
                  type: string
                  x-mockingbird-resource-ref:
                    type: verification
                    missing: VE00000000000000000000000000000000
      responses:
        "200":
          description: Check result; `status` is `approved` only for the right code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationCheck"
        "400":
          description: Invalid parameter (code 60200)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Bad credentials (code 20003)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No pending verification (missing, approved, canceled or expired; code 20404)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Max check attempts reached (code 60202)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/2010-04-01/Accounts/{AccountSid}/Messages.json:
    parameters:
      - $ref: "#/components/parameters/AccountSid"
    post:
      operationId: CreateMessage
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [To]
              properties:
                To:
                  type: string
                  pattern: "^[+][1-9][0-9]{7,14}$"
                  examples: ["+12025550123", "+13105550142"]
                Body:
                  type: string
                  maxLength: 1600
                From:
                  type: string
                  pattern: "^[+][1-9][0-9]{7,14}$"
                  examples: ["+15005550006"]
                MessagingServiceSid:
                  type: string
                  pattern: "^MG[0-9a-f]{32}$"
                MediaUrl:
                  type: string
                  format: uri
                StatusCallback:
                  type: string
                  format: uri
      responses:
        "201":
          description: Message accepted (`queued`, or `accepted` through a Messaging Service)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          description: Invalid request (21211 bad To, 21602 no Body, 21603 no From, 21604 no To, 21617 too long)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Bad credentials (code 20003)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Malformed account sid (code 20404)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/2010-04-01/Accounts/{AccountSid}/Messages/{Sid}.json:
    parameters:
      - $ref: "#/components/parameters/AccountSid"
      - name: Sid
        in: path
        required: true
        schema:
          type: string
          x-mockingbird-resource-ref:
            type: message
            missing: SM00000000000000000000000000000000
    get:
      operationId: FetchMessage
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: The message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "401":
          description: Bad credentials (code 20003)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Unknown message (code 20404)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/2010-04-01/Accounts/{AccountSid}/Recordings/{Sid}.wav:
    parameters:
      - $ref: "#/components/parameters/AccountSid"
      - $ref: "#/components/parameters/RecordingSid"
      - name: RequestedChannels
        in: query
        required: false
        description: 2 returns a dual-channel recording as two channels; otherwise it is mixed down to mono.
        schema:
          type: integer
          enum: [1, 2]
    get:
      operationId: FetchRecordingMedia
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: RIFF WAV (PCM)
          content:
            audio/x-wav:
              schema:
                type: string
                format: binary
        "401":
          description: Bad credentials (code 20003)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Unknown or deleted recording (code 20404)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/2010-04-01/Accounts/{AccountSid}/Recordings/{Sid}.json:
    parameters:
      - $ref: "#/components/parameters/AccountSid"
      - $ref: "#/components/parameters/RecordingSid"
    get:
      operationId: FetchRecording
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Recording metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recording"
        "401":
          description: Bad credentials (code 20003)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Unknown or deleted recording (code 20404)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: DeleteRecording
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      responses:
        "204":
          description: Deleted
        "401":
          description: Bad credentials (code 20003)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Unknown or already deleted recording (code 20404; our consumer tolerates it)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: AccountSid (or an SK API key sid) as the username, AuthToken (or key secret) as the password.
  parameters:
    ServiceSid:
      name: ServiceSid
      in: path
      required: true
      description: The Verify service sid (`VA…`).
      schema:
        type: string
        pattern: "^VA[0-9a-f]{32}$"
        examples: ["VA0123456789abcdef0123456789abcdef"]
    AccountSid:
      name: AccountSid
      in: path
      required: true
      schema:
        type: string
        pattern: "^AC[0-9a-f]{32}$"
        examples: ["AC33333333333333333333333333333333"]
    RecordingSid:
      name: Sid
      in: path
      required: true
      description: The recording sid (`RE…`).
      schema:
        type: string
        x-mockingbird-resource-ref:
          type: recording
          missing: RE00000000000000000000000000000000
  schemas:
    Error:
      type: object
      required: [code, message, more_info, status]
      properties:
        code:
          type: integer
        message:
          type: string
        more_info:
          type: string
        status:
          type: integer
    PhoneNumber:
      type: object
      required:
        - calling_country_code
        - country_code
        - phone_number
        - national_format
        - valid
        - validation_errors
        - url
      properties:
        calling_country_code:
          type: ["string", "null"]
        country_code:
          type: ["string", "null"]
        phone_number:
          type: string
        national_format:
          type: ["string", "null"]
        valid:
          type: boolean
        validation_errors:
          type: array
          items:
            type: string
            enum:
              - TOO_SHORT
              - TOO_LONG
              - INVALID_BUT_POSSIBLE
              - INVALID_COUNTRY_CODE
              - INVALID_LENGTH
              - NOT_A_NUMBER
        caller_name:
          type: ["object", "null"]
        sim_swap:
          type: ["object", "null"]
        call_forwarding:
          type: ["object", "null"]
        line_status:
          type: ["object", "null"]
        line_type_intelligence:
          type: ["object", "null"]
        identity_match:
          type: ["object", "null"]
        reassigned_number:
          type: ["object", "null"]
        sms_pumping_risk:
          type: ["object", "null"]
        phone_number_quality_score:
          type: ["object", "null"]
        pre_fill:
          type: ["object", "null"]
        url:
          type: string
    SendCodeAttempt:
      type: object
      required: [attempt_sid, channel, time]
      properties:
        attempt_sid:
          type: string
          x-mockingbird-volatile:
            kind: id
        channel:
          type: string
        time:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
    Verification:
      type: object
      required: [sid, service_sid, account_sid, to, channel, status, valid, date_created, date_updated, send_code_attempts, url]
      properties:
        sid:
          type: string
          x-mockingbird-resource:
            type: verification
            identity: true
          x-mockingbird-volatile:
            kind: id
        service_sid:
          type: string
        account_sid:
          type: string
        to:
          type: string
        channel:
          type: string
        status:
          type: string
          enum: [pending, approved, canceled, expired]
        valid:
          type: boolean
        lookup:
          type: ["object", "null"]
        amount:
          type: ["string", "null"]
        payee:
          type: ["string", "null"]
        send_code_attempts:
          type: array
          items:
            $ref: "#/components/schemas/SendCodeAttempt"
        sna:
          type: ["object", "null"]
        date_created:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
        date_updated:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
        url:
          type: string
          x-mockingbird-volatile:
            kind: url
    VerificationCheck:
      type: object
      required: [sid, service_sid, account_sid, to, channel, status, valid, date_created, date_updated]
      properties:
        sid:
          type: string
          x-mockingbird-volatile:
            kind: id
        service_sid:
          type: string
        account_sid:
          type: string
        to:
          type: string
        channel:
          type: string
        status:
          type: string
          enum: [pending, approved, canceled, expired]
        valid:
          type: boolean
        amount:
          type: ["string", "null"]
        payee:
          type: ["string", "null"]
        sna_attempts_error_codes:
          type: array
          items:
            type: object
        date_created:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
        date_updated:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
    Message:
      type: object
      required: [sid, account_sid, to, from, body, status, direction, num_segments, num_media, api_version, date_created, date_updated, uri]
      properties:
        sid:
          type: string
          x-mockingbird-resource:
            type: message
            identity: true
          x-mockingbird-volatile:
            kind: id
        account_sid:
          type: string
        api_version:
          type: string
        body:
          type: string
        to:
          type: string
        from:
          type: ["string", "null"]
        messaging_service_sid:
          type: ["string", "null"]
        status:
          type: string
          enum: [queued, accepted, sending, sent, delivered, undelivered, failed, received]
        direction:
          type: string
        num_segments:
          type: string
        num_media:
          type: string
        price:
          type: ["string", "null"]
        price_unit:
          type: ["string", "null"]
        error_code:
          type: ["integer", "null"]
        error_message:
          type: ["string", "null"]
        date_created:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
        date_updated:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
        date_sent:
          type: ["string", "null"]
          x-mockingbird-volatile:
            kind: timestamp
        uri:
          type: string
          x-mockingbird-volatile:
            kind: url
        subresource_uris:
          type: object
          x-mockingbird-volatile:
            kind: url
    Recording:
      type: object
      required: [sid, account_sid, call_sid, status, channels, duration, uri, media_url, date_created]
      properties:
        sid:
          type: string
          x-mockingbird-resource:
            type: recording
            identity: true
        account_sid:
          type: string
        api_version:
          type: string
        call_sid:
          type: string
        status:
          type: string
        channels:
          type: integer
        duration:
          type: string
        source:
          type: string
        price:
          type: ["string", "null"]
        price_unit:
          type: ["string", "null"]
        error_code:
          type: ["integer", "null"]
        start_time:
          type: string
        date_created:
          type: string
        date_updated:
          type: string
        uri:
          type: string
        media_url:
          type: string
