openapi: 3.1.0
info:
  title: FirstPromoter API v2 (Mockingbird subset)
  description: |
    Stateful mock subset of FirstPromoter's v2 company API: promoters (create, list, find by
    id / cust_id / ref_token / email, update, archive), signup tracking, and the dashboard
    iframe login. Hand-authored from the wire shapes our consumer sends and the zod schemas it
    parses responses with (`first-promoter.types.ts`).
  version: "2"
  x-mockingbird-upstream:
    note: >-
      Hand-authored from B/global-services/services/first-promoter/first-promoter.service.ts and
      first-promoter.types.ts (FirstPromoterV2ResponseSchema, FirstPromoterV2ListResponseSchema,
      FirstPromoterV2ArchiveResponseSchema, FirstPromoterAccessTokenResponseSchema).
servers:
  - url: https://api.firstpromoter.com/api
security:
  - bearerAuth: []
paths:
  /v2/track/signup:
    post:
      operationId: TrackSignup
      description: |
        Record a referred signup, attributed by click `tid`, by `promoter_id`, or by `ref_id`
        (a promoter's ref token). Attributed signups emit the `lead_becomes_referral` webhook.
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 120
                uid:
                  type: string
                  maxLength: 64
                tid:
                  type: string
                  maxLength: 64
                ref_id:
                  type: string
                  maxLength: 64
                promoter_id:
                  type: integer
                  minimum: 1
                skip_email_notification:
                  type: boolean
      responses:
        "200":
          description: The referral
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Referral"
        "400":
          description: No attribution given
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing API key or Account-ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Unknown tid, promoter or ref token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Invalid or already-tracked email
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
  /v2/company/promoters:
    get:
      operationId: ListPromoters
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: A page of promoters
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Promoter"
                  meta:
                    type: object
                    required: [pending_count]
                    properties:
                      pending_count:
                        type: integer
        "401":
          description: Missing API key or Account-ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: CreatePromoter
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 120
                cust_id:
                  type: string
                  minLength: 1
                  maxLength: 64
                profile:
                  type: object
                  properties:
                    first_name:
                      type: string
                      maxLength: 40
                    last_name:
                      type: string
                      maxLength: 40
                drip_emails:
                  type: boolean
                initial_campaign_id:
                  type: integer
                  minimum: 1
                  maximum: 3
      responses:
        "200":
          description: The new promoter, enrolled in the default campaign
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Promoter"
        "401":
          description: Missing API key or Account-ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Unknown initial campaign
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Invalid, or email / cust_id already taken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
  /v2/company/promoters/archive:
    post:
      operationId: ArchivePromoters
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids:
                  type: array
                  minItems: 1
                  maxItems: 5
                  items:
                    type: integer
                    minimum: 1
      responses:
        "200":
          description: The batch operation that archived them
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchProcess"
        "401":
          description: Missing API key or Account-ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Invalid body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
  /v2/company/promoters/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: The promoter id, or the value named by `find_by`.
        schema:
          type: string
          x-mockingbird-resource-ref:
            type: ref_token
            missing: nobody404
    get:
      operationId: GetPromoter
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
        - name: find_by
          in: query
          schema:
            type: string
            enum: [id, cust_id, ref_token, email]
      responses:
        "200":
          description: The promoter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Promoter"
        "400":
          description: Unknown find_by
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing API key or Account-ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No such promoter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      operationId: UpdatePromoter
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 120
                cust_id:
                  type: string
                  minLength: 1
                  maxLength: 64
                note:
                  type: string
                  maxLength: 200
                profile:
                  type: object
                  properties:
                    first_name:
                      type: string
                      maxLength: 40
                    last_name:
                      type: string
                      maxLength: 40
      responses:
        "200":
          description: The updated promoter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Promoter"
        "401":
          description: Missing API key or Account-ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No such promoter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Invalid, or email / cust_id already taken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
  /v2/promoters/iframe_login:
    post:
      operationId: IframeLogin
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      parameters:
        - name: promoter_id
          in: query
          required: true
          schema:
            type: string
            pattern: "^[0-9]{1,10}$"
      responses:
        "200":
          description: A short-lived dashboard token
          content:
            application/json:
              schema:
                type: object
                required: [access_token, expires_in]
                properties:
                  access_token:
                    type: string
                    x-mockingbird-volatile:
                      kind: token
                  expires_in:
                    type: integer
        "401":
          description: Missing API key or Account-ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No such promoter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "`Authorization: Bearer <FIRST_PROMOTER_API_KEY>` plus `Account-ID: <FIRST_PROMOTER_ACCOUNT_ID>`."
  schemas:
    Error:
      type: object
      required: [message]
      properties:
        message:
          type: string
        code:
          type: string
    ValidationError:
      type: object
      required: [message, errors]
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    Reward:
      type: object
      required: [apply_on, reward_id]
      properties:
        apply_on:
          type: string
        product_ids:
          type: ["array", "null"]
          items:
            type: integer
        reward_id:
          type: integer
        reward:
          type: ["object", "null"]
          properties:
            name:
              type: ["string", "null"]
            promoter_reward_type:
              type: ["string", "null"]
            hide_reward:
              type: ["boolean", "null"]
            tier_level:
              type: ["integer", "null"]
            coupon:
              type: ["string", "null"]
            amount:
              type: ["number", "null"]
            unit:
              type: ["string", "null"]
            reward_value:
              type: ["number", "null"]
            reward_unit:
              type: ["string", "null"]
        products:
          type: ["array", "null"]
    CampaignStats:
      type: object
      required: [clicks_count, referrals_count, sales_count, customers_count, revenue_amount]
      properties:
        clicks_count:
          type: integer
        referrals_count:
          type: integer
        sales_count:
          type: integer
        customers_count:
          type: integer
        revenue_amount:
          type: number
    PromoterCampaign:
      type: object
      required: [id, campaign_id, promoter_id, state, ref_link]
      properties:
        id:
          type: integer
          x-mockingbird-volatile:
            kind: id
        campaign_id:
          type: integer
        promoter_id:
          type: integer
          x-mockingbird-volatile:
            kind: id
        state:
          type: string
        created_at:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
        campaign:
          type: object
          required: [id, name, color]
          properties:
            id:
              type: integer
            name:
              type: string
            color:
              type: string
        ref_link:
          type: string
          x-mockingbird-volatile:
            kind: url
        ref_token:
          type: string
          x-mockingbird-resource:
            type: ref_token
            identity: true
        coupon:
          type: ["string", "null"]
        display_coupon:
          type: ["string", "null"]
        direct_url:
          type: ["string", "null"]
        track_ad_traffic:
          type: ["string", "null"]
        referral_rewards_customized:
          type: boolean
        promoter_rewards_customized:
          type: boolean
        rewards_for_promoters:
          type: array
          items:
            $ref: "#/components/schemas/Reward"
        rewards_for_referrals:
          type: array
          items:
            $ref: "#/components/schemas/Reward"
        stats:
          $ref: "#/components/schemas/CampaignStats"
        promo_codes:
          type: array
    Promoter:
      type: object
      required: [id, email, promoter_campaigns]
      properties:
        id:
          type: integer
          x-mockingbird-volatile:
            kind: id
        email:
          type: string
        name:
          type: string
        cust_id:
          type: ["string", "null"]
        note:
          type: ["string", "null"]
        state:
          type: string
        stats:
          type: object
          required:
            - clicks_count
            - referrals_count
            - sales_count
            - customers_count
            - revenue_amount
            - active_customers_count
          properties:
            clicks_count:
              type: integer
            referrals_count:
              type: integer
            sales_count:
              type: integer
            customers_count:
              type: integer
            revenue_amount:
              type: number
            active_customers_count:
              type: integer
        is_customized:
          type: boolean
        fraud_suspicions:
          type: array
          items:
            type: string
        is_confirmed:
          type: boolean
        invoice_details_status:
          type: string
        profile:
          type: object
          required: [id]
          properties:
            id:
              type: integer
              x-mockingbird-volatile:
                kind: id
            first_name:
              type: ["string", "null"]
            last_name:
              type: ["string", "null"]
            website:
              type: ["string", "null"]
            company_name:
              type: ["string", "null"]
            company_number:
              type: ["string", "null"]
            phone_number:
              type: ["string", "null"]
            vat_id:
              type: ["string", "null"]
            country:
              type: ["string", "null"]
            address:
              type: ["string", "null"]
            avatar:
              type: ["string", "null"]
            w8_form_url:
              type: ["string", "null"]
            w9_form_url:
              type: ["string", "null"]
            description:
              type: ["string", "null"]
        joined_at:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
        last_login_at:
          type: ["string", "null"]
        archived_at:
          type: ["string", "null"]
          x-mockingbird-volatile:
            kind: opaque
        custom_fields:
          type: ["object", "null"]
        password_setup_url:
          type: ["string", "null"]
          x-mockingbird-volatile:
            kind: url
        created_at:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
        updated_at:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
        promoter_campaigns:
          type: array
          items:
            $ref: "#/components/schemas/PromoterCampaign"
    Referral:
      type: object
      required: [id, email, state, created_at]
      properties:
        id:
          type: integer
          x-mockingbird-volatile:
            kind: id
        email:
          type: string
        uid:
          type: ["string", "null"]
        state:
          type: string
          enum: [signup, active, cancelled, refunded, denied]
        created_at:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
        customer_since:
          type: ["string", "null"]
        promoter_campaign:
          type: ["object", "null"]
          properties:
            id:
              type: integer
              x-mockingbird-volatile:
                kind: id
            campaign_id:
              type: integer
            promoter_id:
              type: integer
              x-mockingbird-volatile:
                kind: id
            ref_token:
              type: string
    BatchProcess:
      type: object
      required:
        - id
        - status
        - total
        - selected_total
        - processed_count
        - failed_count
        - action_label
        - created_at
        - updated_at
        - progress
      properties:
        id:
          type: integer
          x-mockingbird-volatile:
            kind: id
        status:
          type: string
        total:
          type: integer
        selected_total:
          type: integer
        processed_count:
          type: integer
        failed_count:
          type: integer
        action_label:
          type: string
        created_at:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
        updated_at:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
        meta:
          type: object
        progress:
          type: integer
        processing_errors:
          type: array
          items:
            type: string
