openapi: 3.1.0
info:
  title: Daily.co REST API (Mockingbird subset)
  description: |
    Stateful mock subset of the Daily.co REST API: rooms (create, get, update, delete, presence,
    eject) and meeting tokens (create, validate). Trimmed from Daily's documented API to the
    calls our backend and EMR make; request schemas follow the fields our consumers send
    (daily-video.schemas.ts strict zod schemas, EMR RoomConfig / TokenConfig).
  version: "1"
  x-mockingbird-upstream:
    note: >-
      Hand-authored from docs.daily.co/reference/rest-api and our consumers
      (apps/backend daily-video.service.ts + schemas, the consumer app's daily-service.ts).
servers:
  - url: https://api.daily.co
security:
  - bearerAuth: []
paths:
  /v1/rooms:
    post:
      operationId: CreateRoom
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRoomBody"
      responses:
        "200":
          description: The created room
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Room"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
  /v1/rooms/{name}:
    parameters:
      - $ref: "#/components/parameters/RoomName"
    get:
      operationId: GetRoom
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: The room
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Room"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
    post:
      operationId: UpdateRoom
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRoomBody"
      responses:
        "200":
          description: The updated room
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Room"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
    delete:
      operationId: DeleteRoom
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                required: [deleted, name]
                properties:
                  deleted:
                    type: boolean
                  name:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
  /v1/rooms/{name}/presence:
    parameters:
      - $ref: "#/components/parameters/RoomName"
    get:
      operationId: GetRoomPresence
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: Participants currently in the room
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [total_count, data]
                properties:
                  total_count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PresenceParticipant"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
  /v1/rooms/{name}/eject:
    parameters:
      - $ref: "#/components/parameters/RoomName"
    post:
      operationId: EjectParticipants
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                ids:
                  type: array
                  maxItems: 10
                  items:
                    type: string
                    maxLength: 64
                user_ids:
                  type: array
                  maxItems: 10
                  items:
                    type: string
                    maxLength: 36
      responses:
        "200":
          description: Session ids of the ejected participants
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [ejectedIds]
                properties:
                  ejectedIds:
                    type: array
                    items:
                      type: string
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
  /v1/meeting-tokens:
    post:
      operationId: CreateMeetingToken
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [properties]
              properties:
                properties:
                  $ref: "#/components/schemas/TokenProperties"
      responses:
        "200":
          description: A signed meeting token
          content:
            application/json:
              schema:
                type: object
                required: [token]
                properties:
                  token:
                    type: string
                    x-mockingbird-resource:
                      type: meeting_token
                      identity: true
                    x-mockingbird-volatile:
                      kind: token
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
  /v1/meeting-tokens/{token}:
    parameters:
      - name: token
        in: path
        required: true
        description: A meeting token, minted by Daily or self-signed (HS256 with the API key).
        schema:
          type: string
          x-mockingbird-resource-ref:
            type: meeting_token
            missing: eyJhbGciOiJIUzI1NiJ9.e30.bm90LWEtc2lnbmF0dXJl
      - name: ignoreNbf
        in: query
        required: false
        schema:
          type: boolean
    get:
      operationId: ValidateMeetingToken
      x-mockingbird:
        supported: true
        parity:
          enabled: true
          safe: true
      responses:
        "200":
          description: The token's properties (it verifies with this API key and is in its time window)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecodedTokenProperties"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    RoomName:
      name: name
      in: path
      required: true
      schema:
        type: string
        x-mockingbird-resource-ref:
          type: room
          missing: no-such-room
  responses:
    InvalidRequest:
      description: The request was not valid
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: No such room
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: Rate limited
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServerError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    Error:
      type: object
      required: [error, info]
      properties:
        error:
          type: string
        info:
          type: string
    Bucket:
      type: object
      additionalProperties: false
      required: [bucket_name, assume_role_arn]
      properties:
        bucket_name:
          type: string
          maxLength: 63
        bucket_region:
          type: string
          maxLength: 32
        assume_role_arn:
          type: string
          maxLength: 256
        allow_api_access:
          type: boolean
        allow_streaming_from_bucket:
          type: boolean
        storage_provider:
          type: string
          maxLength: 32
        namespace:
          type: string
          maxLength: 64
    Permissions:
      type: object
      additionalProperties: false
      properties:
        hasPresence:
          type: boolean
        canSend:
          oneOf:
            - type: boolean
            - type: array
              maxItems: 4
              items:
                type: string
                enum: [video, audio, screenVideo, screenAudio]
        canReceive:
          type: object
        canAdmin:
          oneOf:
            - type: boolean
            - type: array
              maxItems: 3
              items:
                type: string
                enum: [participants, streaming, transcription]
    Recording:
      oneOf:
        - type: string
          enum: [cloud, local, raw-tracks]
        - type: boolean
          enum: [false]
    RoomProperties:
      type: object
      additionalProperties: false
      properties:
        nbf:
          type: number
          description: Unix seconds (some callers send milliseconds; tolerated with a warning).
        exp:
          type: number
          description: Unix seconds (some callers send milliseconds; tolerated with a warning).
        max_participants:
          type: integer
          minimum: 1
          maximum: 200
        enable_people_ui:
          type: boolean
        enable_cpu_warning_notifications:
          type: boolean
        enable_pip_ui:
          type: boolean
        enable_emoji_reactions:
          type: boolean
        enable_hand_raising:
          type: boolean
        enable_prejoin_ui:
          type: boolean
        enable_live_captions_ui:
          type: boolean
        enable_network_ui:
          type: boolean
        enable_noise_cancellation_ui:
          type: boolean
        enable_breakout_rooms:
          type: boolean
        enable_video_processing_ui:
          type: boolean
        enable_knocking:
          type: boolean
        enable_screenshare:
          type: boolean
        enable_chat:
          type: boolean
        enable_shared_chat_history:
          type: boolean
        enable_advanced_chat:
          type: boolean
        start_video_off:
          type: boolean
        start_audio_off:
          type: boolean
        owner_only_broadcast:
          type: boolean
        enable_recording:
          $ref: "#/components/schemas/Recording"
        eject_at_room_exp:
          type: boolean
        eject_after_elapsed:
          type: integer
          minimum: 0
        enable_hidden_participants:
          type: boolean
        enable_mesh_sfu:
          type: boolean
        experimental_optimize_large_calls:
          type: boolean
        enable_terse_logging:
          type: boolean
        close_tab_on_exit:
          type: boolean
          description: >-
            Documented on meeting tokens; the live API also accepts it on a room, so a body
            that sets it on both is not rejected.
        sfu_switchover:
          type: number
        enable_adaptive_simulcast:
          type: boolean
        enable_multiparty_adaptive_simulcast:
          type: boolean
        enforce_unique_user_ids:
          type: boolean
        lang:
          type: string
          enum: [da, de, en, es, fi, fr, it, jp, ka, nl, "no", pt, pt-BR, pl, ru, sv, tr, user]
        meeting_join_hook:
          type: string
          maxLength: 255
        geo:
          type: string
          enum:
            - af-south-1
            - ap-northeast-2
            - ap-southeast-1
            - ap-southeast-2
            - ap-south-1
            - eu-central-1
            - eu-west-2
            - sa-east-1
            - us-east-1
            - us-west-2
        rtmp_geo:
          type: string
          enum: [us-west-2, eu-central-1, ap-south-1]
        disable_rtmp_geo_fallback:
          type: boolean
        recordings_bucket:
          $ref: "#/components/schemas/Bucket"
        transcription_bucket:
          $ref: "#/components/schemas/Bucket"
        recordings_template:
          type: string
          maxLength: 1024
        transcription_template:
          type: string
          maxLength: 1024
        auto_transcription_settings:
          type: object
        enable_transcription_storage:
          type: boolean
        enable_dialout:
          type: boolean
        dialout_config:
          type: object
          additionalProperties: false
          properties:
            allow_room_start:
              type: boolean
            dialout_geo:
              type: string
              maxLength: 32
            max_idle_timeout_sec:
              type: number
            max_idle_timeout_post_conversation_sec:
              type: number
        streaming_endpoints:
          type: [array, "null"]
          maxItems: 3
          items:
            type: object
        permissions:
          $ref: "#/components/schemas/Permissions"
    CreateRoomBody:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          pattern: "^[A-Za-z0-9_-]{1,128}$"
        privacy:
          type: string
          enum: [public, private]
        properties:
          $ref: "#/components/schemas/RoomProperties"
    UpdateRoomBody:
      type: object
      additionalProperties: false
      properties:
        privacy:
          type: string
          enum: [public, private]
        properties:
          $ref: "#/components/schemas/RoomProperties"
    Room:
      type: object
      required: [id, name, api_created, privacy, url, created_at, config]
      properties:
        id:
          type: string
          x-mockingbird-volatile:
            kind: id
        name:
          type: string
          x-mockingbird-resource:
            type: room
            identity: true
          x-mockingbird-volatile:
            kind: id
        api_created:
          type: boolean
        privacy:
          type: string
          enum: [public, private]
        url:
          type: string
          x-mockingbird-volatile:
            kind: url
        created_at:
          type: string
          x-mockingbird-volatile:
            kind: timestamp
        config:
          type: object
    PresenceParticipant:
      type: object
      additionalProperties: false
      required: [room, id, userId, userName, joinTime, duration]
      properties:
        room:
          type: string
        id:
          type: string
        userId:
          type: string
        userName:
          type: string
        joinTime:
          type: string
        duration:
          type: number
    TokenProperties:
      type: object
      additionalProperties: false
      properties:
        room_name:
          type: string
          maxLength: 128
          x-mockingbird-resource-ref:
            type: room
            missing: no-such-room
        knocking:
          type: boolean
        nbf:
          type: number
        exp:
          type: number
        eject_at_token_exp:
          type: boolean
        eject_after_elapsed:
          type: integer
          minimum: 0
        is_owner:
          type: boolean
        user_name:
          type: string
          maxLength: 128
        user_id:
          type: string
          maxLength: 36
        enable_screenshare:
          type: boolean
        start_video_off:
          type: boolean
        start_audio_off:
          type: boolean
        enable_recording:
          $ref: "#/components/schemas/Recording"
        enable_recording_ui:
          type: boolean
        start_cloud_recording:
          type: boolean
        start_cloud_recording_opts:
          type: object
        auto_start_transcription:
          type: boolean
        enable_prejoin_ui:
          type: boolean
        enable_live_captions_ui:
          type: boolean
        enable_terse_logging:
          type: boolean
        close_tab_on_exit:
          type: boolean
        redirect_on_meeting_exit:
          type: string
          maxLength: 255
        lang:
          type: string
          enum: [da, de, en, es, fi, fr, it, jp, ka, nl, "no", pt, pt-BR, pl, ru, sv, tr, user]
        permissions:
          $ref: "#/components/schemas/Permissions"
    DecodedTokenProperties:
      type: object
      description: The token's claims under Daily's full property names.
      properties:
        room_name:
          type: string
        is_owner:
          type: boolean
        user_name:
          type: string
        user_id:
          type: string
        nbf:
          type: number
        exp:
          type: number
